dp-date-picker.form-control[disabled] {
  background-color: #e9ecef !important;
  opacity: 1;
}

dp-date-picker.form-control[disabled] input {
  background-color: #e9ecef !important;
}



.bg-gray{
  background-color: light-dark(rgba(239, 239, 239, 1.3), rgba(59, 59, 59, 0.3));
}
