<div class="d-flex flex-column-fluid px-3">
  <div class="card card-custom w-100 p-5">


    <form [formGroup]="addEditForm" class="form w-100" id="kt_form_1" (ngSubmit)="submitForm()">
      <div class="row">


        <div class="col-md-12 mb-3">
          <label class="form-label">{{'language.form.title' | translate}} <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="title"
            [placeholder]="'language.placeholders.title' | translate"
            [ngClass]="{'is-invalid': (addEditForm.get('title')?.invalid && (addEditForm.get('title')?.touched || isSubmitted))}" />
          <div *ngIf="addEditForm.get('title')?.invalid && (addEditForm.get('title')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.titleRequired' | translate}}
          </div>
        </div>




      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ "language.generic.frequency" | translate }}
            <span class="text-danger">*</span></label>

          <ng-select [items]="salaryFrequenciesList" [clearable]="false" [bindLabel]="'title'"
            [bindValue]="'salaryFrequencyId'" [searchable]="true" placeholder="Select an option"
            formControlName="salaryFrequencyId" [ngClass]="{
      'is-invalid':
              addEditForm.get('salaryFrequencyId')?.invalid &&
              (addEditForm.get('salaryFrequencyId')?.touched || isSubmitted)
      }">
          </ng-select>
          <div *ngIf="
              addEditForm.get('salaryFrequencyId')?.invalid &&
              (addEditForm.get('salaryFrequencyId')?.touched || isSubmitted)
            " class="invalid-feedback">
            {{ "language.errors.frequencyRequired" | translate }}
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{ "language.generic.type" | translate }}
            <span class="text-danger">*</span></label>

          <div class="radio-button-container pt-2">
            @for (item of frameworks; track $index) {
            <div class="radio-button">
              <input type="radio" class="radio-button__input" [id]="'framework-' + $index"
                formControlName="paygroupType" [value]="item.value">
              <label class="radio-button__label" [for]="'framework-' + $index">
                <span class="radio-button__custom"></span>
                {{ item.name }}
              </label>
            </div>
            }
          </div>

          <div *ngIf="
              addEditForm.get('paygroupType')?.invalid &&
              (addEditForm.get('paygroupType')?.touched || isSubmitted)
            " class="invalid-feedback">
            {{ "language.errors.typeRequired" | translate }}
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12 mb-3">
          <label class="form-label">{{'language.form.description' | translate}} <span
              class="text-danger"></span></label>
          <textarea class="form-control" formControlName="description"
            [placeholder]="'language.placeholders.description' | translate"
            [ngClass]="{'is-invalid': (addEditForm.get('description')?.invalid && (addEditForm.get('description')?.touched || isSubmitted))}"></textarea>
          <div
            *ngIf="addEditForm.get('description')?.invalid && (addEditForm.get('description')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.descriptionRequired' | translate}}
          </div>
        </div>
      </div>


<!-- b -->
      <div>
        <h1 class="pt-5" > {{"language.generic.benefits" | translate}}</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>{{"language.generic.salaryComponent" | translate}}</th>
              <th>{{"language.generic.calculationType" | translate}}</th>
              <th>{{"language.generic.amount" | translate}}</th>
              @if(true){ <th>{{"language.generic.actions" | translate}}</th>}
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <ng-container formArrayName="paygroupComponentsBenefit">
              @for(tableItem of paygroupComponentsBenefit?.controls; track $index) {
              <tr [formGroupName]="$index">
                <td>
                  {{ 1 + $index }}
                </td>


                <td style="position: relative;">

                  <ng-select [clearable]="false" [items]="salaryComponentBenefit" [bindLabel]="'salaryTitle'"
                    [bindValue]="'salaryId'" [searchable]="true" placeholder="Select an option"
                    formControlName="salaryId" [ngClass]="{
                    'is-invalid':
                            addEditForm.get('salaryId')?.invalid &&
                            (addEditForm.get('salaryId')?.touched || isSubmitted)
                      }">
                  </ng-select>
                  <!-- @if(!(tableItem.value.attendanceFlag == 0 || tableItem.value.attendanceFlag == 1 || tableItem.value.attendanceFlag == 2)){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  } -->
                </td>


                <td style="position: relative;">

                  <ng-select [clearable]="false" [items]="calType" [bindLabel]="'label'" [bindValue]="'value'"
                    [searchable]="true" placeholder="Select an option" formControlName="calculationType" [ngClass]="{
                    'is-invalid':
                            addEditForm.get('calculationType')?.invalid &&
                            (addEditForm.get('calculationType')?.touched || isSubmitted)
                      }">
                  </ng-select>
                  <!-- @if(!(tableItem.value.attendanceFlag == 0 || tableItem.value.attendanceFlag == 1 || tableItem.value.attendanceFlag == 2)){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  } -->
                </td>

                <td style="position: relative;">
                  <input type="number" class="form-control" formControlName="amount"
                    (input)="onAmountInputBenefit($event,$index)" [placeholder]="'language.form.amount' | translate" [ngClass]="{
                        'is-invalid':
                          addEditForm.get('amount')?.invalid &&
                          (addEditForm.get('amount')?.touched || isSubmitted)
                      }" />
                  <!-- @if(!(tableItem.value.attendanceFlag == 0 || tableItem.value.attendanceFlag == 1 || tableItem.value.attendanceFlag == 2)){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  } -->
                </td>



                @if(true){ <td style="position: relative;">
                  <button type="button" class="btn btn-icon btn-danger me-2 btn-sm" (click)="deleteRowBenefit($index)">
                    <span class="bx bx-trash"><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path style="fill: rgb(255, 255, 255)"
                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                            fill="#000000" fill-rule="nonzero"></path>
                          <path style="fill: rgb(255, 255, 255)"
                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                            fill="#000000" opacity="0.3"></path>
                        </g>
                      </svg></span>
                  </button>
                @if($index == 0){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  }
                </td>}
              </tr>
              }
            </ng-container>

            @if(true){ <tr>
              <td colspan="12">
                <button class="btn btn-primary mt-1 mb-1" type="button" (click)="addRowBenefit()">
                  {{"language.generic.addMore" | translate}}
                </button>
              </td>

            </tr>}
          </tbody>
        </table>
      </div>


<!-- d -->
      <div>
        <h1 class="pt-5" > {{"language.generic.deductions" | translate}}</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>{{"language.generic.salaryComponent" | translate}}</th>
              <th>{{"language.generic.calculationType" | translate}}</th>
              <th>{{"language.generic.amount" | translate}}</th>
              @if(true){ <th>{{"language.generic.actions" | translate}}</th>}
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <ng-container formArrayName="paygroupComponentsDeduction">
              @for(tableItem of paygroupComponentsDeduction?.controls; track $index) {
              <tr [formGroupName]="$index">
                <td>
                  {{ 1 + $index }}
                </td>


                <td style="position: relative;">

                  <ng-select [clearable]="false" [items]="salaryComponentDeduction" [bindLabel]="'salaryTitle'"
                    [bindValue]="'salaryId'" [searchable]="true" placeholder="Select an option"
                    formControlName="salaryId" [ngClass]="{
                    'is-invalid':
                            addEditForm.get('salaryId')?.invalid &&
                            (addEditForm.get('salaryId')?.touched || isSubmitted)
                      }">
                  </ng-select>
                  <!-- @if(!(tableItem.value.attendanceFlag == 0 || tableItem.value.attendanceFlag == 1 || tableItem.value.attendanceFlag == 2)){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  } -->
                </td>


                <td style="position: relative;">

                  <ng-select [clearable]="false" [items]="calType" [bindLabel]="'label'" [bindValue]="'value'"
                    [searchable]="true" placeholder="Select an option" formControlName="calculationType" [ngClass]="{
                    'is-invalid':
                            addEditForm.get('calculationType')?.invalid &&
                            (addEditForm.get('calculationType')?.touched || isSubmitted)
                      }">
                  </ng-select>
                  <!-- @if(!(tableItem.value.attendanceFlag == 0 || tableItem.value.attendanceFlag == 1 || tableItem.value.attendanceFlag == 2)){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  } -->
                </td>

                <td style="position: relative;">
                  <input type="number" class="form-control" formControlName="amount"
                    (input)="onAmountInputDeduction($event,$index)" [placeholder]="'language.form.amount' | translate" [ngClass]="{
                        'is-invalid':
                          addEditForm.get('amount')?.invalid &&
                          (addEditForm.get('amount')?.touched || isSubmitted)
                      }" />
                  <!-- @if(!(tableItem.value.attendanceFlag == 0 || tableItem.value.attendanceFlag == 1 || tableItem.value.attendanceFlag == 2)){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  } -->
                </td>



                @if(true){ <td style="position: relative;">
                  <button type="button" class="btn btn-icon btn-danger me-2 btn-sm" (click)="deleteRowDeduction($index)">
                    <span class="bx bx-trash"><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                        version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path style="fill: rgb(255, 255, 255)"
                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                            fill="#000000" fill-rule="nonzero"></path>
                          <path style="fill: rgb(255, 255, 255)"
                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                            fill="#000000" opacity="0.3"></path>
                        </g>
                      </svg></span>
                  </button>
                @if($index == 0){
                    <span style="position: absolute; inset: 0; background-color: rgba(128, 128, 128, 0.193); ; cursor: not-allowed;" ></span>
                  }
                </td>}
              </tr>
              }
            </ng-container>

            @if(true){ <tr>
              <td colspan="12">
                <button class="btn btn-primary mt-1 mb-1" type="button" (click)="addRowDeduction()">
                  {{"language.generic.addMore" | translate}}
                </button>
              </td>

            </tr>}
          </tbody>
        </table>
      </div>




      <div class="row mt-3">
        <div class="col-12 text-right">
          <button type="button" class="btn btn-light-danger font-weight-bold button-spacing mr-3" (click)="goBack()">
            {{ 'language.generic.back'| translate }}
          </button>
          <button type="submit" class="btn btn-primary font-weight-bold me-3" [disabled]="!this.addEditForm.valid">
            {{ 'language.generic.submit'| translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
