

  <div class="card card-custom d-flex align-items-center justify-content-center" style="min-height:100dvh;" >

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner">
            <a href="https://cybersoftvantage.com/" class="login-logo pb-lg-4 pb-10 d-flex align-items-center justify-content-center gap-2">
              <img
                onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKLQ_NDd81udMvX8pB7D97hkZxbjehU6WzA&s'"
                src="https://cybersoftvantage.com/logo.png" class="max-h-70px" alt="" />
              <h1 class="fw-bold">Cybersoft Vantage</h1>
            </a>
            <div class="card mx-auto" style="max-width: 600px;">
              <div class="card-body">
                <div class="app-brand justify-content-center">

                </div>
                <h4 class="mb-2 text-center">Enter New Password</h4>
                <form class="mb-3" novalidate [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()" #resetPasswordFormRef="ngForm" autocomplete="off">
                  <div class="mb-3">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control"
                      [ngClass]="{'is-invalid': (resetPasswordForm.get('newPassword')?.invalid && (resetPasswordFormRef?.submitted || resetPasswordForm.get('newPassword')?.touched))}"
                      placeholder="Enter your New Password" formControlName="newPassword"/>
                    @if(resetPasswordForm.get('newPassword')?.hasError('required') && resetPasswordFormRef?.submitted) {
                      <div class="text-danger">New Password is required</div>
                    }
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control"
                      [ngClass]="{'is-invalid': (resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordFormRef?.submitted || resetPasswordForm.get('confirmPassword')?.touched))}"
                      placeholder="Confirm your New Password" formControlName="confirmPassword"/>
                    @if(resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordFormRef?.submitted) {
                      <div class="text-danger">Confirm Password is required</div>
                    }

                    @if(resetPasswordForm.get('confirmPassword')?.hasError('mustMatch') && resetPasswordFormRef?.submitted) {
                      <div class="text-danger">New and current password must match</div>
                    }
                  </div>

                  <div class="mb-3">
                    <button class="btn btn-primary d-grid w-100" type="submit">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
