<div class="d-flex flex-row px-5">
  <div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
    <div class="card card-custom card-stretch">
      <form [formGroup]="addEditForm" (ngSubmit)="submitForm()" class="card-body pt-4">
        @if(this.isEditMode){
        <div class="d-flex align-items-center">


          <div class="mr-2" style="width: 120px;">
            <div class="image-input image-input-outline"
              style="background-size: cover; background-position: center;height:120px;" id="kt_image_5"
              [style.background-image]="'url(' + imagePreview + ')'">
              <div class="image-input-wrapper"></div>

              <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="change" data-toggle="tooltip" title="Change avatar">
                <i class="fa fa-pen icon-sm text-muted"></i>
                <input type="file" formControlName="employeeImage" name="profile_avatar" accept=".png, .jpg, .jpeg"
                  (change)="onFileSelected($event)" />
              </label>



              <span *ngIf="imagePreview !== defaultImagePath" style="bottom: -7px; left: -7px;"
                class="btn btn-xs btn-icon btn-circle btn-success btn-shadow position-absolute" data-action="remove"
                data-toggle="tooltip" title="Confirm avatar" (click)="submitForm()">
                <i class="fa-duotone fa-solid fa-check"></i>
              </span>
              <span *ngIf="imagePreview !== defaultImagePath"
                class="btn btn-xs btn-icon btn-circle btn-danger btn-shadow" data-action="remove" data-toggle="tooltip"
                title="Remove avatar" (click)="removeImage()">
                <i class="fa-regular fa-xmark"></i>
              </span>
            </div>
            @if(!imageSizeExceeded && imagePreview == defaultImagePath) {
            <div class="text-muted mb-4   small ">
              <span>{{ "language.errors.maxFileSize" | translate }} 1 MB.
                {{ "language.errors.allowedFormats" | translate }} PNG, JPG,
                JPEG</span>
            </div>
            }
            <div class="text-danger mx-4 small">
              @if(imageSizeExceeded) {
              <span>{{ "language.errors.maxFileSize" | translate }} 1 MB</span>
              }
            </div>
          </div>
          <div>
            <a class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">
              {{addEditForm.get('firstName').value}} {{addEditForm.get('lastName').value}}
            </a>
            <div class="text-muted">{{addEditForm.get('role').value || 'N/A'}}</div>
          </div>
        </div>
        }
        <div class="py-9">
          <div class="d-flex align-items-center justify-content-between mb-2">
            <span class="font-weight-bold mr-2">Email:</span>
            <a href="#" class="text-muted text-hover-primary">{{addEditForm.get('email').value || 'N/A'}}</a>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-2">
            <span class="font-weight-bold mr-2">Phone:</span>
            <span class="text-muted">{{addEditForm.get('phoneNumber').value || 'N/A'}}</span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span class="font-weight-bold mr-2">Location:</span>
            <span class="text-muted">{{addEditForm.get('country').value}},{{addEditForm.get('city').value ||
              'N/A'}}</span>
          </div>
        </div>


        @if(this.isEditMode){
        <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
          @for(item of tabList; track item){
          @if(item.show){<div class="navi-item mb-2">
            <a class="navi-link py-4" [routerLinkActive]="'active'" [routerLink]="item.route"
              [queryParams]="{id:this.isEditMode}">
              <span class="  d-flex align-items-center justify-content-center"
                style="width: 30px;height: 30px; border-radius: 50%;background: #0000001e;">
                <i [class]="item.class" [routerLinkActive]="'text-primary'"></i>
              </span>
              <span class="navi-text font-size-lg mx-3"> {{ item.name| translate }}</span>

            </a>
          </div>}
          }
        </div>
        }
      </form>
    </div>
  </div>
  <div class="flex-row-fluid ml-lg-8">
    <div class="card card-custom card-stretch p-5">
      <router-outlet />
    </div>
  </div>
</div>
