<div id="kt_header" class="header header-fixed" st>
    <div class="container-fluid d-flex align-items-stretch justify-content-between">

        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

            <ol class="breadcrumb bg-transparent mt-4">
                @for(item of this.breadcrumbs; track $index){
                <li class="breadcrumb-item">
                    @if($index === 0){
                    <span style="color: gray;cursor: pointer;" (click)="goBack()">{{item.label }}</span>
                    }
                    @if($index !== 0){
                    <a [routerLinkActive]="'active'" [routerLink]="item.url" >{{ item.label }}</a>
                    }
                </li>
                }
            </ol>


        </div>


        <div class="pt-3">
            <app-topbar></app-topbar>
        </div>
    </div>
</div>
