<div class="d-flex flex-column-fluid px-3">

</div>


<!-- <div class="d-flex flex-column-fluid px-3 my-5">
  <div class="card card-custom w-100 p-5">
    <div class="card-body">
      <div class="d-flex mb-9">
        <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
          <div class="symbol symbol-50 symbol-lg-120">
            <img [src]="this.emp.imagePath"
              onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKLQ_NDd81udMvX8pB7D97hkZxbjehU6WzA&s'">
          </div>
        </div>
        <div class="flex-grow-1">
          <div class="d-flex justify-content-between flex-wrap mt-1">
            <div class="d-flex mr-3">
              <a class="text-dark-75 text-hover-primary font-size-h5 font-weight-bold mr-3">{{emp.firstName + '
                ' + emp.lastName}}</a>
              <a>
                <i class="flaticon2-correct text-success font-size-h5">{{emp.role || 'N/A'}}</i>
              </a>
            </div>
          </div>
          <div class="d-flex flex-wrap justify-content-between mt-1">
            <div class="d-flex flex-column flex-grow-1 pr-8">
              <div class="d-flex flex-wrap mb-4">
                <a class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                  <i class="flaticon2-new-email mr-2 font-size-lg"></i>{{emp.email || 'N/A'}}</a>
                <a class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2  text-capitalize">
                  <i class="flaticon2-calendar-3 mr-2 font-size-lg"></i> Role: {{emp.role || 'N/A'}}</a>
              </div>
              <div class="d-flex flex-wrap mb-4">
                <a class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                  <i class="fa-thin fa-briefcase mr-2"></i> Designation: {{emp.designation || 'N/A'}}</a>
              </div>
            </div>
            <div class="d-flex align-items-center w-25 flex-fill float-right mt-lg-12 mt-8">
              <span class="font-weight-bold text-dark-75">Progress</span>
              <div class="progress progress-xs mx-3 w-100">
                <div class="progress-bar bg-success" role="progressbar" style="width: 63%;" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span class="font-weight-bolder text-dark">78%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-solid"></div>
      <div class="d-flex align-items-center flex-wrap mt-8">
        <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
          <span class="mr-4">
            <i class="flaticon-piggy-bank display-4 text-muted font-weight-bold"></i>
          </span>
          <div class="d-flex flex-column text-dark-75">
            <span class="font-weight-bolder font-size-sm">Earnings</span>
            <span class="font-weight-bolder font-size-h5">
              <span class="text-dark-50 font-weight-bold">$</span>249,500</span>
          </div>
        </div>
        <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
          <span class="mr-4">
            <i class="flaticon-confetti display-4 text-muted font-weight-bold"></i>
          </span>
          <div class="d-flex flex-column text-dark-75">
            <span class="font-weight-bolder font-size-sm">Expenses</span>
            <span class="font-weight-bolder font-size-h5">
              <span class="text-dark-50 font-weight-bold">$</span>164,700</span>
          </div>
        </div>
        <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
          <span class="mr-4">
            <i class="flaticon-pie-chart display-4 text-muted font-weight-bold"></i>
          </span>
          <div class="d-flex flex-column text-dark-75">
            <span class="font-weight-bolder font-size-sm">Net</span>
            <span class="font-weight-bolder font-size-h5">
              <span class="text-dark-50 font-weight-bold">$</span>782,300</span>
          </div>
        </div>
        <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
          <span class="mr-4">
            <i class="flaticon-file-2 display-4 text-muted font-weight-bold"></i>
          </span>
          <div class="d-flex flex-column flex-lg-fill">
            <span class="text-dark-75 font-weight-bolder font-size-sm">73 Tasks</span>
            <a href="#" class="text-primary font-weight-bolder">View</a>
          </div>
        </div>
        <div class="d-flex align-items-center flex-lg-fill mr-5 mb-2">
          <span class="mr-4">
            <i class="flaticon-chat-1 display-4 text-muted font-weight-bold"></i>
          </span>
          <div class="d-flex flex-column">
            <span class="text-dark-75 font-weight-bolder font-size-sm">648 Comments</span>
            <a href="#" class="text-primary font-weight-bolder">View</a>
          </div>
        </div>
        <div class="d-flex align-items-center flex-lg-fill mb-2 float-left">
          <span class="mr-4">
            <i class="flaticon-network display-4 text-muted font-weight-bold"></i>
          </span>
          @if(teamSummary.length > 0) {
          <div class="symbol-group symbol-hover">
            @for (team of teamSummary.slice(0, 3); track $index) {
            <div class="symbol symbol-30 symbol-circle" data-bs-toggle="tooltip" [title]="team.fullName">
              <img [src]="team.imagePath"
                onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKLQ_NDd81udMvX8pB7D97hkZxbjehU6WzA&s'">
            </div>
            }
          </div>
          }
          @if (teamSummary.length > 3) {
          <div class="symbol symbol-30 symbol-circle symbol-light cursor-pointer" style="margin-left: -14px;"
            data-bs-toggle="modal" data-bs-target="#teamModal">
            <span class="symbol-label font-weight-bold">{{teamSummary.length - 3}}+</span>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div> -->


@if(graphData.length > 0){



  <div class="d-flex flex-column-fluid px-3 mb-5 position-relative">

    @if(userReporting.length > 1){<ng-select style="position: absolute; z-index: 9; right: 10%; top: 8%;"  [clearable]="false" [items]="userReporting" bindLabel="fullName" [(ngModel)]="this.emp.employeeId" bindValue="employeeId"
    [searchable]="true" placeholder="Select an option" (change)="getGraphStats()">



    <ng-template ng-label-tmp let-item="item">
      {{ item.fullName }}  - ({{'language.generic.punchCode' | translate }}: {{ item.punchCode}})
    </ng-template>


    <ng-template ng-option-tmp let-item="item">
      {{ item.fullName }} - {{ item.punchCode}}
    </ng-template>

  </ng-select>}

  <ng-select style="position: absolute; z-index: 9; right: 2%; top: 8%;" [disabled]="false" [clearable]="false"
    [items]="fileOptionsGraph" bindLabel="name"  (change)="setFilter($event?.value,'Chart');getGraphStats()"  [(ngModel)]="selectedOptionGraph" bindValue="value" [searchable]="true"
    placeholder="Select an option">
  </ng-select>

  <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
    style="width: 100%; height: 400px; display: block; padding: 20px 0;">
  </highcharts-chart>
</div>
}

<div class="d-flex flex-column-fluid px-3">
  @if(summaryItems.length > 0){<div class="card card-custom w-100 p-5">



    <div class="row px-3">


      <div class="col-12 mb-5">

        <div class="d-flex justify-content-between flex-wrap  align-items-center mb-5" style="gap: 4px;">

          <div class="" style="flex: 1; min-width: 200px;">
            <label class="form-label">
              {{ "language.generic.selectFilter" | translate }}
              <span class="text-danger"></span>
            </label>
            <ng-select [clearable]="false" [items]="fileOptions" bindLabel="name" [(ngModel)]="selectedOption"
              bindValue="value" [searchable]="true" placeholder="Select an option" (change)="setFilter($event?.value)">
            </ng-select>
          </div>



          <div class="" style="flex: 1;">
            <label class="form-label">{{ 'language.generic.startDate' | translate }}</label>
            <dp-date-picker class="form-control" placeholder="00/00/00" [(ngModel)]="startDate" [config]="datePickerConfig"
              theme="dp-material" (change)="onStartDateChange($event)"></dp-date-picker>
          </div>


          <div class="" style="flex: 1;">
            <label class="form-label">{{ 'language.generic.endDate' | translate }}</label>
            <dp-date-picker class="form-control" placeholder="00/00/00" [(ngModel)]="endDate.split('T')[0]"
              [config]="datePickerConfig" theme="dp-material" (change)="onEndDateChange($event)"></dp-date-picker>
          </div>
          <div class="flex-column d-flex">
            <label class="form-label" style="opacity: 0;">{{ 'language.generic.endDate' | translate }}</label>
            <button class="btn btn-secondary " (click)="applyDateFilter()">
              {{ 'language.generic.applyFilter' | translate }} <i class="fa fa-search ml-2" style="color: gray;"
                aria-hidden="true"></i>
            </button>

          </div>


        </div>
        <div class="d-flex flex-wrap " style="gap: 8px;">
          @for(item of summaryItems; track $index){ <div data-bs-toggle="modal"
            [ngStyle]="{'cursor': item.id ? 'pointer' : 'default'}" [attr.data-bs-target]="'#'+item.id"
            class="card px-5 py-4  bg-gradient text-secondary  dash-card">

            <div class="d-flex justify-content-between flex-wrap  align-items-center ">
              <h1 class="font-size-lg font-weight-bolder"> {{ item.title | translate}}</h1>
              <div class="symbol symbol-45 symbol-light  ">
                <span class="symbol-label">
                  <i class="fa {{ item.icon }} fa-2x text-{{ item.color }}"></i>
                </span>
              </div>
            </div>

            <div class="d-flex align-items-center justify-content-between flex-wrap my-4 ">
              <span>{{ item.count}}</span>
              <span>{{item.percentage}}%</span>
            </div>
            <div class="progress" role="progressbar" aria-label="Basic example" [attr.aria-valuenow]="item.percentage"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" [ngClass]="'bg-' + item.color" [style.width.%]="item.percentage">
              </div>

            </div>

          </div>}
        </div>

        <!-- @for(item of summaryItems; track $index){<div class="pt-1">
            <div class="d-flex align-items-center pb-9">

              <div class="symbol symbol-45 symbol-light mr-4">
                <span class="symbol-label">
                  <i class="fa {{ item.icon }} fa-2x text-{{ item.color }}"></i>
                </span>
              </div>

              <div class="d-flex flex-column flex-grow-1">
                <h5 class="text-dark-75 text-hover-primary mb-1 font-size-lg font-weight-bolder">
                  {{ item.title | translate}}
                </h5>
              </div>

              <span
                class="font-weight-bolder label label-xl label-light-{{ item.color }} text-{{ item.color }} label-inline px-3 py-5 min-w-45px">
                {{ item.count() }}
              </span>
            </div>
          </div>} -->


      </div>


      <div class="d-flex align-items-center justify-content-center flex-wrap" style="gap:8px">
        <!-- @if(teamSummary.length > 0) {
    <div class="LeaveSummary-card">
      <div class="LeaveSummary-card-inner">
        <div class="LeaveSummary-card-front">
          <p>Team Members</p>
        </div>
        <div class="LeaveSummary-card-back">
          <ul class="list-unstyled">
            @for (team of teamSummary.slice(0, 3); track $index) {
              <li class="mb-1 d-flex align-items-center">
                <img
                  onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKLQ_NDd81udMvX8pB7D97hkZxbjehU6WzA&s'"
                  [src]="team.imagePath"
                  alt="{{team.fullName}}"
                  class="img-fluid rounded-circle mx-2"
                  style="width: 40px; height: 40px;"
                />
                <div>
                  <b>{{team.fullName}}</b><br />
                  <small>Attendance Status: {{team.attendanceStatus ? 'Present' : 'Absent'}}</small>
                </div>
              </li>
            }
            @if (teamSummary.length > 3) {
              <li class="text-center">
                <small>More (+{{teamSummary.length - 3}})</small>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  }



  @if(employeeLeaveSummary.length > 0){

  <div class="LeaveSummary-card">
    <div class="LeaveSummary-card-inner">
      <div class="LeaveSummary-card-front">
        <p>Employee Leave Summary</p>
      </div>
      <div class="LeaveSummary-card-back">
        <ul class="list-unstyled">
          @for(item of employeeLeaveSummary; track $index){
          <li>{{item.leaveTypeName}}: Total Leaves: {{item.totalLeaves}}</li>
          <li>Leaves Taken: {{item.leavesTaken}}</li>
          <li>Remaining Leaves: {{item.remainingLeaves}}</li>
          }
        </ul>
      </div>
    </div>
  </div> }
</div> -->



      </div>





    </div>
  </div>}

  <div class="modal fade" id="teamModal" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">{{'language.generic.teamMembers' | translate }}</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            @for (team of teamSummary; track $index) {
            <div class="list-group-item d-flex align-items-center">
              <img [src]="team.imagePath" class="rounded-circle me-3" style="width: 40px; height: 40px;"
                onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKLQ_NDd81udMvX8pB7D97hkZxbjehU6WzA&s'">
              <div>
                <h6 class="mb-0 mx-3">{{team.fullName}}</h6>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="absendModal" tabindex="-1" aria-labelledby="absendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">{{'language.generic.absentSummary' | translate }}</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'language.generic.date' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              @if(absentData.length > 0){
              @for (item of absentData; track $index) {
              <tr>
                <td>{{item.date || 'N/A'}}</td>
              </tr>
              }}@else{
              <tr>
                <td class="text-center">{{'language.generic.noRecords' | translate}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="lateDataModal" tabindex="-1" aria-labelledby="lateDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">{{'language.generic.lateSummary' | translate }}</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'language.generic.date' | translate}}</th>
                <th>{{'language.generic.checkIn' | translate}}</th>
                <th>{{'language.generic.checkOut' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              @if(lateData.length > 0){
              @for (item of lateData; track $index) {
              <tr>
                <td>{{item.attendanceDate || 'N/A'}}</td>
                <td>{{(item.checkIn | convertTime: 'time') || 'N/A'}}</td>
                <td>{{(item.checkOut | convertTime: 'time') || 'N/A'}}</td>
              </tr>
              }}@else{
              <tr>
                <td colspan="3" class="text-center">{{'language.generic.noRecords' | translate}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="missingDataModal" tabindex="-1" aria-labelledby="missingDataModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">{{'language.generic.missingDataSummary' | translate }}</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'language.generic.date' | translate}}</th>
                <th>{{'language.generic.checkIn' | translate}}</th>
                <th>{{'language.generic.checkOut' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              @if(missingData.length > 0){
              @for (item of missingData; track $index) {
              <tr>
                <td>{{item.attendanceDate || 'N/A'}}</td>
                <td>{{(item.checkIn | convertTime: 'time') || 'N/A'}}</td>
                <td>{{(item.checkOut | convertTime: 'time') || 'N/A'}}</td>
              </tr>
              }}@else{
              <tr>
                <td colspan="3" class="text-center">{{'language.generic.noRecords' | translate}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="earlyDataModal" tabindex="-1" aria-labelledby="earlyDataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">{{'language.generic.earlyDataSummary' | translate }}</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'language.generic.date' | translate}}</th>
                <th>{{'language.generic.checkIn' | translate}}</th>
                <th>{{'language.generic.checkOut' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              @if(earlyData.length > 0){
              @for (item of earlyData; track $index) {
              <tr>
                <td>{{item.attendanceDate || 'N/A'}}</td>
                <td>{{(item.checkIn | convertTime: 'time') || 'N/A'}}</td>
                <td>{{(item.checkOut | convertTime: 'time') || 'N/A'}}</td>
              </tr>
              }}@else{
              <tr>
                <td colspan="3" class="text-center">{{'language.generic.noRecords' | translate}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="employeeLeaveSummaryModal" tabindex="-1" aria-labelledby="employeeLeaveSummaryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="teamModalLabel">{{'language.generic.leaveSummary' | translate }}</h5>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <button routerLink="/admin/company-structure" data-bs-dismiss="modal" aria-label="Close"
            class="btn btn-primary font-weight-bolder w-100 mb-5">
            <span class="svg-icon svg-icon-md">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                  <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
                </g>
              </svg>
            </span>
            {{'language.sidebar.manageLeave' | translate}}
          </button>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>{{'language.generic.leaveTypeName' | translate}}</th>
                <th>{{'language.generic.totalLeaves' | translate}}</th>
                <th>{{'language.generic.leavesTaken' | translate}}</th>
                <th>{{'language.generic.remainingLeaves' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              @if(employeeLeaveSummary.length > 0){
              @for (item of employeeLeaveSummary; track $index) {
              <tr>
                <td>{{item.leaveTypeName || 'N/A'}}</td>
                <td>{{item.totalLeaves || 'N/A'}}</td>
                <td>{{item.leavesTaken || 'N/A'}}</td>
                <td>{{item.remainingLeaves || 'N/A'}}</td>
              </tr>
              }}@else{
              <tr>
                <td colspan="4" class="text-center">{{'language.generic.noRecords' | translate}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
