<div class="d-flex flex-column-fluid px-3" style="overflow: hidden;">

  <div class="card card-custom w-100">
      <div class="row">


          <div class="col-lg-3 col-xxl-4">
              <div class="card card-custom card-stretch card-stretch-half gutter-b">
                <div class="card card-custom bg-danger gutter-b" style=" padding: 15px;">
                  <!--begin::Body-->
                  <div class="card-body d-flex flex-column p-0">
                    <!--begin::Stats-->
                    <div class="flex-grow-1 card-spacer-x pt-6">
                      <div class="text-inverse-danger font-weight-bold fw-bold h3">Attendance Summary for {{ attendanceData.fullName }}</div>
                      <div class="summary-item">
                        <span class="text-white fw-bold" >Presents:</span>
                        <span style="color: #333333;" >{{ attendanceData.presents }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Absents:</span>
                        <span style="color: #333333;" >{{ attendanceData.absents }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Leaves:</span>
                        <span style="color: #333333;" >{{ attendanceData.leaves }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Late:</span>
                        <span style="color: #333333;" >{{ attendanceData.late }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Early:</span>
                        <span style="color: #333333;" >{{ attendanceData.early }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Half Days:</span>
                        <span style="color: #333333;" >{{ attendanceData.halfDays }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Off Days:</span>
                        <span style="color: #333333;" >{{ attendanceData.offDays }}</span>
                    </div>
                    <div class="summary-item">
                        <span class="text-white fw-bold" >Missing Attendance:</span>
                        <span style="color: #333333;" >{{ attendanceData.missingAttendance }}</span>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>


      </div>
  </div>
</div>

<div>
  <canvas id="myChart"></canvas>
</div>

