<div class="d-flex flex-column flex-root">
  <div class="login login-4 wizard d-flex flex-column flex-lg-row flex-column-fluid">
    <div
      class="login-container order-2 order-lg-1 d-flex flex-center flex-row-fluid px-7 pt-lg-0 pb-lg-0 pt-4 pb-6 bg-white">
      <div class="login-content d-flex flex-column pt-lg-0 pt-12">
        <a href="#" class="login-logo pb-lg-4 pb-10 d-flex align-items-center justify-content-center gap-2">
          <img src="https://cybersoftvantage.com/logo.png" class="max-h-70px" alt="" />
          <h1 class="fw-bold">Cybersoft Vantage</h1>
        </a>
        <div class="login-form">
          <form class="form" id="kt_login_singin_form" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
            <div class="pb-5 pb-lg-15">
              <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Sign In</h3>
              <div class="font-weight-bold font-size-h4">New Here?
                <a routerLink="/sign-up" class="text-primary font-weight-bolder">Create
                  Account</a>
              </div>
            </div>
            <div class="row">


              <div class="col-md-6 mb-3">
                <label class="form-label">Email<span class="text-danger">*</span></label>
                <input type="email" class="form-control" formControlName="email" placeholder="example@gmail.com"
                  [ngClass]="{'is-invalid': (loginForm.get('email')?.invalid && (loginForm.get('email')?.touched  ))}" />

                <div *ngIf="loginForm.get('email')?.touched" class="invalid-feedback">
                  <ng-container *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</ng-container>
                  <ng-container *ngIf="loginForm.get('email')?.errors?.['email']">Email is not valid.</ng-container>
                </div>
              </div>



              <div class="col-md-6 mb-3">
                <label class="form-label">Password<span class="text-danger">*</span></label>
                <input type="password" class="form-control" formControlName="password" placeholder="********"
                  [ngClass]="{'is-invalid': (loginForm.get('password')?.invalid && (loginForm.get('password')?.touched  ))}" />

                <div *ngIf="loginForm.get('password')?.touched" class="invalid-feedback">
                  <ng-container *ngIf="loginForm.get('password')?.errors?.['required']">Password is
                    required.</ng-container>
                  <ng-container *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6
                    characters long.</ng-container>
                  <ng-container *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must contain at least
                    one uppercase letter, one lowercase letter, and one number.</ng-container>
                </div>
              </div>

            </div>


            <div class="pb-lg-0 pb-5">
              <button type="submit" id="kt_login_singin_form_submit_button"
                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 w-100" >Sign In</button>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="selectCompanyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #selectCompanyModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select Company</h1>
        <button type="button" class="btn-close border-0" data-bs-dismiss="modal" aria-label="Close">x</button>
      </div>
      <div class="modal-body">
        <div *ngFor="let company of companyList">
          <div class="company-item btn btn-secondary w-100 mb-3"  (click)="selectCompany(company)" >
            {{ company.companyName }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-danger">Continue</button>
      </div>
    </div>
  </div>
</div>

