<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light"> {{ 'language.generic.dashboard' | translate }}
      /</span> {{this.isEdit? ('language.generic.edit' | translate) : ('language.generic.user' | translate)}} {{
    'language.generic.dashboard' | translate }}</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-start align-items-sm-center gap-4">
            <img src="{{this.userImage.imageUrl}}" alt="user-avatar" class="d-block rounded" height="100" width="100"
              id="uploadedAvatar" />
            <div class="button-wrapper">
              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                <span class="d-none d-sm-block"> {{'language.generic.uploadNewPhoto' | translate }}</span>
                <i class="bx bx-upload d-block d-sm-none"></i>
                <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg"
                  (change)="attachFile($event)" />
              </label>
              <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" (click)="resetImage()">
                <i class="bx bx-reset d-block d-sm-none"></i>
                <span class="d-none d-sm-block">{{'language.generic.reset' | translate }}</span>
              </button>
              <p class="text-muted mb-0"> {{'language.generic.allowedPngJpg' | translate }}</p>
            </div>
          </div>
        </div>

        <hr class="my-0" />
        <div class="card-body">
          <form novalidate [formGroup]="userForm" (ngSubmit)="submitForm()" #userFormRef="ngForm" autocomplete="off">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">{{'language.configurations.firstName' | translate }} <span
                    class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="firstName" name="firstName"
                  [ngClass]="(!this.userForm.controls['firstName'].valid && userFormRef?.submitted)?'invalid':''" />
                @if(userForm.get('firstName')?.hasError('required') && userFormRef?.submitted) {
                <div class="text-danger"> {{'language.configurations.firstNameReq' | translate }}
                </div>
                }
              </div>
              <div class="mb-3 col-md-6">
                <label for="lastName" class="form-label">{{'language.configurations.lastName' | translate
                  }}<span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="lastName" name="lastName"
                  [ngClass]="(!this.userForm.controls['lastName'].valid && userFormRef?.submitted)?'invalid':''" />
                @if(userForm.get('lastName')?.hasError('required') && userFormRef?.submitted) {
                <div class="text-danger">{{'language.configurations.lastNameReq' | translate
                  }}</div>
                }
              </div>
              <div class="mb-3 col-md-6">
                <label for="email" class="form-label"> {{'language.forget.email' | translate }}<span
                    class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="email" name="email"
                  [ngClass]="(!this.userForm.controls['email'].valid && userFormRef?.submitted)?'invalid':''" />
                @if(userForm.get('email')?.hasError('required') && userFormRef?.submitted) {
                <div class="text-danger">{{'language.forget.emailReq' | translate }}</div>
                }

                @if(userForm.get('email')?.hasError('email') && userFormRef?.submitted) {
                <div class="text-danger"> {{'language.forget.emailIn' | translate }}</div>
                }
              </div>

              <div class="mb-3 col-md-6">
                <label for="email" class="form-label"> {{'language.forget.password' | translate }}
                  @if (!this.isEdit) {
                  <span class="text-danger">*</span>
                  }
                </label>
                <input class="form-control" type="password" formControlName="password" name="password"
                  [ngClass]="(!this.userForm.controls['password'].valid && userFormRef?.submitted)?'invalid':''" />
                @if(userForm.get('password')?.hasError('required') && userFormRef?.submitted) {
                <div class="text-danger"> {{'language.forget.password' | translate }}</div>
                }
              </div>

              <div class="mb-3 col-md-6">
                <label class="form-label"> {{'language.generic.selectLocation' | translate }}<span
                    class="text-danger">*</span></label>
                <select class="select2 form-select" formControlName="locationId" name="locationId"
                  [ngClass]="(!this.userForm.controls['locationId'].valid && userFormRef?.submitted)?'invalid':''">
                  <option value=""> {{'language.configurations.location' | translate }}</option>
                  @for(loc of locations; track $index){
                  <option value="{{loc.locationId}}">{{loc.title}}</option>
                  }
                </select>
                @if(userForm.get('locationId')?.hasError('required') && userFormRef?.submitted) {
                <div class="text-danger">{{'language.configurations.locationReq' | translate }}</div>
                }
              </div>

              <div class="mb-3 col-md-6">
                <label class="form-label">{{'language.configurations.role' | translate }} <span
                    class="text-danger">*</span></label>
                <select class="select2 form-select" formControlName="role" name="role"
                  [ngClass]="(!this.userForm.controls['role'].valid && userFormRef?.submitted)?'invalid':''">
                  <option value=""> {{ 'language.configurations.selectRole' | translate }}</option>
                  <option value="1">{{ 'language.role.admin' | translate }}</option>
                  <option value="2">{{ 'language.role.manager' | translate }}</option>
                  <option value="3">{{ 'language.role.operator' | translate }}</option>
                </select>
                @if(userForm.get('role')?.hasError('required') && userFormRef?.submitted) {
                <div class="text-danger">{{'language.role.roleReq' | translate }}</div>
                }
              </div>
            </div>
            <div class="mt-2 text-end">
              <button type="reset" class="btn btn-outline-secondary me-2" (click)="backToUsers()">{{
                'language.generic.cancel' | translate }}</button>
              <button type="submit" class="btn btn-primary">{{
                'language.invoice.saveChanges' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>