<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Card-->
    <div class="card card-custom">
      <!--begin::Header-->
      <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
          <h3 class="card-label">
            {{'language.role.rolesManagement' | translate}}
            <span class="d-block text-muted pt-2 font-size-sm">  {{'language.role.roleHeading' | translate}}</span>
          </h3>
        </div>
         <form class="d-flex  mt-2 w-25"role="search">
          <input class="form-control" type="search" [placeholder]="'language.placeholders.searchByName' | translate" aria-label="Search" name="searchTerm"
            (input)="search($event)">
        </form>
        <div class="card-toolbar">



          <div class="mr-2 dropdown dropdown-inline">
            <select class="form-control datatable-input" data-col-index="2" (change)="onStatusChange($event)">
              <option  >{{ 'language.generic.activeStatus' | translate }}</option>
              <option value="0">All</option>
              <option value="1" selected >Active</option>
              <option value="2">In Active</option>
            </select>
          </div>

          <!--begin::Dropdown-->
          <div class="dropdown dropdown-inline mr-2">
            <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="svg-icon svg-icon-md">
                <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                  height="24px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <path
                      d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z"
                      fill="#000000" opacity="0.3"></path>
                    <path
                      d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z"
                      fill="#000000"></path>
                  </g>
                </svg>
                <!--end::Svg Icon-->
              </span>  {{'language.generic.export' | translate}} </button>
            <!--begin::Dropdown Menu-->




            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
              <!--begin::Navigation-->
              <ul class="navi flex-column navi-hover py-2">
                <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">
                  {{'language.generic.chooseAnOption' | translate}}
                </li>

                <li class="navi-item">
                  <a style="cursor: pointer;" class="navi-link" (click)="exportData('excel')">
                    <span class="navi-icon">
                      <i class="la la-file-excel-o"></i>
                    </span>
                    <span class="navi-text"> {{'language.generic.excel' | translate}} </span>
                  </a>
                </li>
              </ul>
              <!--end::Navigation-->
            </div>
            <!--end::Dropdown Menu-->
          </div>
          <!--end::Dropdown-->
          <!--begin::Button-->
          <button routerLink="/admin/role/add" class="btn btn-primary font-weight-bolder">
            <span class="svg-icon svg-icon-md">
              <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect x="0" y="0" width="24" height="24"></rect>
                  <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                  <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
                </g>
              </svg>
              <!--end::Svg Icon-->
            </span> {{'language.generic.newRecord' | translate}}</button>
          <!--end::Button-->
        </div>
      </div>
      <!--end::Header-->
      <!--begin::Body-->
      <div class="card-body" style="overflow-x: auto;">
        <!--begin: Datatable-->
        <div
          class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded"
          id="kt_datatable">
          <table class="datatable-table" style="display: block; overflow-x: auto;">
            <thead class="datatable-head">
              <tr class="datatable-row" style="left: 0px;">
                <th data-field="RecordID"
                  class="datatable-cell-left datatable-cell datatable-cell-sort datatable-cell-sorted" data-sort="asc">
                  <span style="width: 40px;">#<i class="flaticon2-arrow-up"></i></span>
                </th>

                <th data-field="OrderID" class="datatable-cell datatable-cell-sort">
                  <span style="width: 250px;">    {{'language.generic.name' | translate}} </span>
                </th>



                <th data-field="CompanyName" class="datatable-cell datatable-cell-sort"><span
                    style="width: 124px;">  {{'language.form.details' | translate}} </span></th>




                <th data-field="Actions" data-autohide-disabled="false" class="datatable-cell datatable-cell-sort"><span
                    style="width: 130px;">  {{'language.generic.actions' | translate}}</span></th>
              </tr>
            </thead>
            <tbody class="datatable-body">
              @for (data of dataList; track $index) {
               <tr data-row="0" class="datatable-row" style="left: 0px;" [ngClass]="{ 'inactive-row': !data.isActive }">
                 <td class="datatable-cell-sorted datatable-cell-left datatable-cell" data-field="RecordID"
                  aria-label="1"><span style="width: 40px;"><span class="font-weight-bolder px-3">
                    {{ (pageNo - 1) * pageSize + $index + 1 }}
                  </span></span>
                </td>
                <td data-field="OrderID" aria-label="64616-103" class="datatable-cell"><span style="width: 250px;">
                    <div class="d-flex align-items-center">
                      <div class="text-dark-75 font-weight-bolder font-size-lg mb-0">{{data.name || "N/A"}}</div>
                    </div>
                  </span></td>

                <td data-field="ShipDate" aria-label="10/15/2017" class="datatable-cell"><span style="width: 124px;">
                    <div class="font-weight-bolder text-primary mb-0">{{data?.description?.slice(0,15) || "N/A"}} {{data?.description?.length > 15 ? '...' : ''}}</div>
                  </span></td>


                <td data-field="Actions" data-autohide-disabled="false" aria-label="null" class="datatable-cell"><span
                    style="overflow: visible; position: relative; width: 130px;">



                    <a [routerLink]="['/admin/role/edit']" [queryParams]="{id: data.roleId}"
                      class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon mr-2"
                      title="Edit details"> <span class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                          version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                            style="fill:#0095ff;"
                              d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                              fill="#000000" fill-rule="nonzero"
                              transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) ">
                            </path>
                            <path
                              d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                              fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                          </g>
                        </svg> </span> </a>



                    <!-- Modal -->
                    <div class="modal fade" [id]="'modal-' + $index" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                             {{'language.msg.areYouAbsolutely' | translate}}
                            </h1>
                            <button type="button" class="btn-close border-0" data-bs-dismiss="modal"
                              aria-label="Close">x</button>
                          </div>
                          <div class="modal-body">
                                    {{'language.msg.actionCannotBeUndone' | translate}}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{'language.generic.cancel' | translate}}</button>
                            <button type="button" (click)="onDelete(data.roleId)" data-bs-dismiss="modal"
                              class="btn btn-danger">{{'language.generic.continue' | translate}}</button>
                          </div>
                        </div>
                      </div>
                    </div>

                   <button data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + $index"
                      class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon" title="Delete"> <span
                        class="svg-icon svg-icon-md"> <svg xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24"
                          version="1.1">
                          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path
                            style="fill: red;"
                              d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                              fill="#000000" fill-rule="nonzero"></path>
                            <path
                            style="fill: red;"
                              d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                              fill="#000000" opacity="0.3"></path>
                          </g>
                        </svg> </span>
                      </button>
                  </span></td>
              </tr>
              }
              @if(this.dataList.length < 1){
                <tr data-row="0" class="datatable-row text-center fw-bold text-capitalize" style="left: 0px;">No records yet!</tr>
              }
            </tbody>
          </table>


          <!--begin::Pagination-->
          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex flex-wrap py-2 mr-3">
              <a
                class="btn btn-icon btn-sm btn-light mr-2 my-1"
                (click)="changePage(1)"
                [class.disabled]="pageNo === 1"
              >
                <i class="ki ki-bold-double-arrow-back icon-xs"></i>
              </a>

              <a
                class="btn btn-icon btn-sm btn-light mr-2 my-1"
                (click)="changePage(pageNo - 1)"
                [class.disabled]="pageNo === 1"
              >
                <i class="ki ki-bold-arrow-back icon-xs"></i>
              </a>

              <span *ngFor="let page of [].constructor(totalPages); let i = index" [hidden]="i > 4 && i < totalPages - 5">
                <a
                  class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1"
                  [class.active]="i + 1 === pageNo"
                  (click)="changePage(i + 1)"
                >
                  {{ i + 1 }}
                </a>
              </span>

              <a
                class="btn btn-icon btn-sm btn-light mr-2 my-1"
                (click)="changePage(pageNo + 1)"
                [class.disabled]="pageNo === totalPages"
              >
                <i class="ki ki-bold-arrow-next icon-xs"></i>
              </a>

              <a
                class="btn btn-icon btn-sm btn-light mr-2 my-1"
                (click)="changePage(totalPages)"
                [class.disabled]="pageNo === totalPages"
              >
                <i class="ki ki-bold-double-arrow-next icon-xs"></i>
              </a>
            </div>

            <div class="d-flex align-items-center py-3">
              <select
                class="form-control form-control-sm font-weight-bold mr-4 border-0 bg-light"
                style="width: 75px;"
                [(ngModel)]="pageSize"
                (change)="changePageSize(pageSize)"
              >
                <option *ngFor="let size of [10, 20, 30, 50, 100]" [value]="size">{{ size }}</option>
              </select>

              <span class="text-muted">
                 {{'language.generic.totalRecords' | translate}} {{ totalCount }}
              </span>
            </div>

          </div>

          <!--end:: Pagination-->



        </div>
        <!--end: Datatable-->
      </div>
      <!--end::Body-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
