@if (showAddingInput) {
  <div class="container-xxl flex-grow-1 container-p-y">
    <form novalidate [formGroup]="expenseMainForm" #form="ngForm" #expenseMainFormRef="ngForm" autocomplete="off">
      <div class="card">
        <div class="table-responsive text-nowrap">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Document Number</th>
                <th>Cost Center</th>
                <th>Description</th>
                <th>Total (Excluding VAT)</th>
                <th>VAT</th>
                <th>Total (Including VAT)</th>
                <th>Upload Attachment</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <ng-container formArrayName="expenseAllItem">
                @for(expenseItemForm of expenseAllItem.controls; track $index) {
                <tr [formGroupName]="$index">
                  <td>
                    <input class="form-control" type="text" name="receiptDate" formControlName="receiptDate" ngbDatepicker
                      #fromDate="ngbDatepicker" (click)="fromDate.toggle()" />
                  </td>

                  <td>
                    <div class="mb-1">
                      <input class="form-control" type="number" name="documentNumber" formControlName="documentNumber"
                        [ngClass]="(!convertForm(this.expenseItemForm).controls['documentNumber'].valid && form.submitted)?'invalid':''" />
                    </div>
                  </td>

                  <td>
                    <div class="mb-1">
                      <input class="form-control" type="text" name="costCenter" formControlName="costCenter"
                        [ngClass]="(!convertForm(this.expenseItemForm).controls['costCenter'].valid && form.submitted)?'invalid':''" />
                    </div>
                  </td>

                  <td>
                    <div class="mb-1">
                      <textarea class="form-control" name="remarks" formControlName="remarks" rows="1"></textarea>
                    </div>
                  </td>

                  <td>
                    <div class="mb-1">
                      <input class="form-control" type="number" step="0.1" name="totalBeforeVat"
                        formControlName="totalBeforeVat"
                        [ngClass]="(!convertForm(this.expenseItemForm).controls['totalBeforeVat'].valid && form.submitted)?'invalid':''"
                        min="0" (input)="calculateTotal(expenseItemForm)" />
                    </div>
                  </td>

                  <td>
                    <div class="mb-1">
                      <input class="form-control" type="number" step="0.1" name="vat" formControlName="vat"
                        [ngClass]="(!convertForm(this.expenseItemForm).controls['vat'].valid && form.submitted)?'invalid':''"
                        min="0" max="100" (input)="calculateTotal(expenseItemForm)" />
                    </div>
                  </td>

                  <td>
                    <div class="mb-1">
                      <input class="form-control" type="number" step="0.1" name="totalWithVat"
                        formControlName="totalWithVat"
                        [ngClass]="(!convertForm(this.expenseItemForm).controls['totalWithVat'].valid && form.submitted)?'invalid':''"
                        min="0" readonly />
                    </div>
                  </td>

                  <td align="center">
                    <button type="button" class="btn btn-icon btn-primary me-2 btn-sm" (click)="openUploadModal($index)">
                      <i class='bx bx-upload'></i>
                    </button>
                  </td>

                  <td>
                    @if($index !== 0) {
                    <button type="button" class="btn btn-icon btn-danger me-2 btn-sm" (click)="deleteLesson($index)">
                      <span class="bx bx-trash"></span>
                    </button>
                    }
                  </td>
                </tr>
                }
              </ng-container>

              <tr>
                <td colspan="5">
                  <button class="btn btn-primary mt-1 mb-1" type="button" (click)="addExpenseItem()">Add More</button>
                </td>
                <td colspan="4" align="right">
                  <button class="btn btn-success mt-1 mb-1" type="submit" (click)="openCofirmationModal()">Save Batch</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
  }

  @if (!showAddingInput) {
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Expense /</span>
      {{
      this.isEdit && !isViewOnly ?'Edit':
      !this.isEdit && isViewOnly ?'View':'Add'}}

      Expense
    </h4>
    <div class="text-end mb-3">
      @if(!this.isEdit && !isViewOnly) {
      <button type="button" class="btn btn-primary me-3" (click)="showAddingInput = true;resetForm()">
        <i class='bx bxs-plus-circle'></i>
        Add Expense
      </button>

      <button type="button" class="btn btn-success" (click)="openCofirmationModal()">
        <i class='bx bxs-save'></i>
        Save Batch
      </button>
      }
    </div>
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Document Number</th>
              <th>Cost Center</th>
              <th>Description</th>
              <th>Total (Excluding VAT)</th>
              <th>VAT</th>
              <th>Total (Including VAT)</th>
              <th>Attachment Count</th>
              @if(this.isEdit || isViewOnly) {
              <th>Status</th>
              }
              @if(!isViewOnly) {
              <th>Actions</th>
              }
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            @if(expenseItems.length > 0) {
            @for(expense of expenseItems; track $index){
            <tr>
              <td>{{expense?.receiptDate | date: 'mediumDate'}}</td>
              <td>{{expense?.documentNumber}}</td>
              <td>{{expense?.costCenter}}</td>
              <td>{{expense?.remarks ==="null"?'':expense?.remarks}}</td>
              <td>{{expense?.totalBeforeVat}}</td>
              <td>{{expense?.vat}}</td>
              <td>{{expense?.totalWithVat}}</td>
              <td>{{expense?.attachments?.length || expense?.expenseMediaInformation?.length}}</td>
              @if (this.isEdit || isViewOnly) {
              <td>
                @if(this.isEdit && !isViewOnly) {
                @if(!isUserRole) {
                @if(expense.status === 2 ) {
                <span class="badge bg-label-success me-1">Accepted</span>
                }
                @if(expense.status !== 2 ) {
                <select class="select2 form-select" [ngModel]="expense.status"
                  (change)="changeStatus($event, expense?.expenseSubDetailId)">
                  <option value="1">Pending</option>
                  <option value="2">Accepted</option>
                  <option value="3">Rejected</option>
                </select>
                }
                }

                @if(isUserRole) {
                @if(expense.status === 1 ) {
                <span class="badge bg-label-warning me-1">Pending</span>
                }

                @if(expense.status === 2 ) {
                <span class="badge bg-label-success me-1">Accepted</span>
                }

                @if(expense.status === 3 ) {
                <span class="badge bg-label-danger me-1">Rejected</span>
                }
                }
                }

                @if(!this.isEdit && isViewOnly) {
                @if(expense.status === 1 ) {
                <span class="badge bg-label-warning me-1">Pending</span>
                }

                @if(expense.status === 2 ) {
                <span class="badge bg-label-success me-1">Accepted</span>
                }

                @if(expense.status === 3 ) {
                <span class="badge bg-label-danger me-1">Rejected</span>
                }
                }
              </td>
              }
              @if(!isViewOnly) {
              <td>
                @if(expense.status !== 2 ) {
                <button type="button" class="btn btn-icon btn-primary me-2 btn-sm"
                  (click)="editForm(expense, $index)">
                  <span class="bx bxs-edit"></span>
                </button>
                <button type="button" class="btn btn-icon btn-danger me-2 btn-sm"
                  (click)="removeExpenseEntry(expense, $index)">
                  <span class="bx bx-trash"></span>
                </button>
                }
                <button type="button" class="btn btn-icon btn-secondary btn-sm" (click)="viewRemarksHistory(expense)">
                  <span class="bx bx-history"></span>
                </button>
              </td>
              }
            </tr>
            }
            }
            @if(expenseItems.length === 0) {
            <tr>
              <td colspan="9" align="center">Not Found</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  }

  <div class="modal fade" id="saveBatchConfirmationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Add Supplier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <form novalidate [formGroup]="expenseSubmissionForm" (ngSubmit)="saveBatch()"
              #expenseSubmissionFormRef="ngForm" autocomplete="off">
              <div class="row">
                <div class="mb-3 col-md-12">
                  <label class="form-label">Manager<span class="text-danger">*</span></label>
                  <select class="form-control form-select" name="assignedTo" formControlName="assignedTo"
                    [ngClass]="(!this.expenseSubmissionForm.controls['assignedTo'].valid && expenseSubmissionFormRef?.submitted)?'invalid':''">
                    <option value="">Select Manager</option>
                    @for(manager of managerList; track $index){
                    <option value="{{manager.userId}}">{{manager.name}}</option>
                    }
                  </select>
                  @if (expenseSubmissionForm.get('assignedTo')?.hasError('required') &&
                  expenseSubmissionFormRef?.submitted) {
                  <div class="text-danger">Reporting Manager is required</div>
                  }
                </div>
              </div>
              <div class="mt-2 text-end">
                <button type="reset" class="btn btn-outline-secondary me-2" (click)="back()">Cancel</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Delete Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <h5>Are you sure you want to delete?</h5>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteExpense()">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="remarksModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Action Remarks</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            @if (this.remarksList.length > 0) {
            <div class="table-responsive text-nowrap">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Created By</th>
                    <th>Role</th>
                    <th>Date</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  @if(remarksList.length > 0){
                  @for(bank of remarksList ; track $index){
                  <tr>
                    <td>
                      <span [innerHTML]="bank?.createdBy"></span>
                    </td>
                    <td>
                      @if (bank.role === 1) {
                      <span class="badge bg-label-warning me-1">Admin</span>
                      }

                      @if (bank.role === 2) {
                      <span class="badge bg-label-primary me-1">Manager</span>
                      }

                      @if (bank.role === 3) {
                      <span class="badge bg-label-secondary me-1">Operator</span>
                      }
                    </td>
                    <td>{{bank.createdDate | date: 'MMM d, y'}}</td>
                    <td>
                      {{bank?.remarks}}
                    </td>
                  </tr>
                  }
                  }
                </tbody>
              </table>
            </div>
            }
            @if (this.remarksList.length === 0) {
            <div class="mb-3 col-md-12">
              <label class="form-label">Remarks</label>
              <textarea class="form-control" [(ngModel)]="this.changeStatusObj.remarks"></textarea>
            </div>
            }
          </div>
        </div>
        @if (this.remarksList.length === 0) {
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="saveRemarks()">Save</button>
        </div>
        }
      </div>
    </div>
  </div>

  <div class="modal fade" id="uploadAttachmentModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Upload Files</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="mb-1">
              <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedFiles($event)" [useDragEnter]="true"
                [multiple]="true">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  <div class="text-center dragfiles" role="button" (click)="openFileSelector()">
                    <i class='bx bxs-cloud-upload fs-xlarge'></i>
                    <div class="d-flex flex-column">
                      <span class="fs-14 text-gray-300 fw-500">Drag and Drop</span>
                      <span class="fs-20 text-dark fw-500">Upload</span>
                    </div>
                  </div>
                </ng-template>
              </ngx-file-drop>
            </div>
            @if(this.attachedFiles.length > 0) {
            <div class="mb-3 col-md-12">
              <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    @for(file of attachedFiles; track $index){
                    <tr>
                      <td width="95%">
                        <span class="underline" (click)="getSelectedFile($index)">{{file.name || file.fileName}}</span>
                      </td>
                      <td>
                        <button type="button" class="btn btn-icon btn-danger btn-sm" (click)="removeAttachment($index)">
                          <span class="bx bx-trash"></span>
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            }

            <div class="col-md-12">
              @if(this.attachedFiles.length > 0) {
              <iframe [src]="selectedFile?.url" width="100%" height="600"></iframe>
              }
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="saveItemAttachment()">Save</button>
        </div>
      </div>
    </div>
  </div>
