<div class="container card card-custom p-5 ">
  <div class="card-header flex-wrap border-0 pt-6 pb-0 px-0">
    <div class="card-title">
      <h3 class="card-label">
        Education Histroy
      </h3>
    </div>
  </div>




  <form novalidate [formGroup]="expenseMainForm" #form="ngForm" #expenseMainFormRef="ngForm" autocomplete="off">
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>	Document Number</th>
              <th>	Cost Center</th>
              <th>	Description</th>
              <th>Total (Excluding VAT)</th>
              <th>VAT</th>
              <th>Total (Including VAT)</th>
              <th>Upload Attachment</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <ng-container formArrayName="expenseAllItem">
              @for(expenseItemForm of expenseAllItem.controls; track $index) {
              <tr [formGroupName]="$index">
                <td>
                  <input class="form-control" type="text" name="receiptDate" formControlName="receiptDate" ngbDatepicker
                    #fromDate="ngbDatepicker" (click)="fromDate.toggle()" />
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="number" name="documentNumber" formControlName="documentNumber"
                      [ngClass]="(!convertExpenseForm(this.expenseItemForm).controls['documentNumber'].valid && form.submitted)?'invalid':''" />
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="text" name="costCenter" formControlName="costCenter"
                      [ngClass]="(!convertExpenseForm(this.expenseItemForm).controls['costCenter'].valid && form.submitted)?'invalid':''" />
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <textarea class="form-control" name="remarks" formControlName="remarks" rows="1"></textarea>
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="number" step="0.1" name="totalBeforeVat"
                      formControlName="totalBeforeVat"
                      [ngClass]="(!convertExpenseForm(this.expenseItemForm).controls['totalBeforeVat'].valid && form.submitted)?'invalid':''"
                      min="0" (input)="calculateTotal(expenseItemForm)" />

                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="number" step="0.1" name="vat" formControlName="vat"
                      [ngClass]="(!convertExpenseForm(this.expenseItemForm).controls['vat'].valid && form.submitted)?'invalid':''"
                      min="0" max="100" (input)="calculateTotal(expenseItemForm)" />

                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="number" step="0.1" name="totalWithVat"
                      formControlName="totalWithVat"
                      [ngClass]="(!convertExpenseForm(this.expenseItemForm).controls['totalWithVat'].valid && form.submitted)?'invalid':''"
                      min="0" readonly />

                  </div>
                </td>

                <td align="center">
                  <button type="button" class="btn btn-icon btn-secondary me-2 btn-sm" (click)="openUploadModal($index)">
                    <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Export.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                          <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 8.000000) scale(1, -1) rotate(-180.000000) translate(-12.000000, -8.000000) " x="11" y="2" width="2" height="12" rx="1"/>
                          <path d="M12,2.58578644 L14.2928932,0.292893219 C14.6834175,-0.0976310729 15.3165825,-0.0976310729 15.7071068,0.292893219 C16.0976311,0.683417511 16.0976311,1.31658249 15.7071068,1.70710678 L12.7071068,4.70710678 C12.3165825,5.09763107 11.6834175,5.09763107 11.2928932,4.70710678 L8.29289322,1.70710678 C7.90236893,1.31658249 7.90236893,0.683417511 8.29289322,0.292893219 C8.68341751,-0.0976310729 9.31658249,-0.0976310729 9.70710678,0.292893219 L12,2.58578644 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 2.500000) scale(1, -1) translate(-12.000000, -2.500000) "/>
                      </g>
                  </svg><!--end::Svg Icon--></span>
                  </button>
                </td>

                <td>
                  @if($index !== 0) {
                  <button type="button" class="btn btn-icon btn-secondary me-2 btn-sm" (click)="deleteLesson($index)">
                    <span class="svg-icon svg-icon-danger svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Trash.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"/>
                          <path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero"/>
                          <path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3"/>
                      </g>
                  </svg><!--end::Svg Icon--></span>
                  </button>
                  }
                </td>
              </tr>
              }
            </ng-container>

            <tr>
              <td colspan="5">
                <button class="btn btn-primary mt-1 mb-1" type="button" (click)="addExpenseItem()">
                  Add More
                </button>
              </td>
              <td colspan="4" align="right">
                <button class="btn btn-success mt-1 mb-1" type="submit" (click)="openCofirmationModal()">
                  Save
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </form>
</div>
