<div class="d-flex flex-column-fluid px-3">
  <div class="card card-custom w-100 p-5">
    <form [formGroup]="addEditForm" class="form w-100 py-5" id="kt_form_1" (ngSubmit)="submitForm()">
      <div class="row">
        <div class="col-md-4 col-sm-12  mb-3">
          <label class="form-label">{{'language.form.name' | translate}} <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="name"
            [placeholder]="'language.placeholders.name' | translate"
            [ngClass]="{'is-invalid': (addEditForm.get('name')?.invalid && (addEditForm.get('name')?.touched || isSubmitted))}" />
          <div *ngIf="addEditForm.get('name')?.invalid && (addEditForm.get('name')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.nameRequired' | translate}}
          </div>
        </div>

        <div class="col-md-4 col-sm-12 mb-3">
          <label class="form-label">{{'language.generic.badgeTextColor' | translate}} <span class="text-danger">*</span></label>
          <input type="color" class="form-control" formControlName="textColor"

            [ngClass]="{'is-invalid': (addEditForm.get('textColor')?.invalid && (addEditForm.get('textColor')?.touched || isSubmitted))}" />
          <div *ngIf="addEditForm.get('textColor')?.invalid && (addEditForm.get('textColor')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.textColorRequired' | translate}}
          </div>
        </div>
        <div class="col-md-4 col-sm-12  mb-3">
          <label class="form-label">{{'language.generic.badgebackgroundColor' | translate}} <span class="text-danger">*</span></label>
          <input type="color" class="form-control" formControlName="backgroundColor"

            [ngClass]="{'is-invalid': (addEditForm.get('backgroundColor')?.invalid && (addEditForm.get('backgroundColor')?.touched || isSubmitted))}" />
          <div *ngIf="addEditForm.get('backgroundColor')?.invalid && (addEditForm.get('backgroundColor')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.backgroundColorRequired' | translate}}
          </div>
        </div>
      </div>


      <div class="row mt-3 py-5">


        <div class="col-md-12">
          <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
              <h3 class="card-title"> {{'language.generic.rolePermissions' | translate}}</h3>
            </div>


            <div class="card-body">
              <div class="accordion accordion-toggle-arrow" id="accordionPanelsStayOpenExample">
                <div class="row">

                  @for(rp of systemModules; track $index){
                  <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                      <div class="card-header" id="headingOne{{ $index }}">
                        <div class="card-title" data-toggle="collapse" [attr.data-target]="'#collapse'+$index" aria-expanded="true" [attr.aria-controls]="'collapse'+$index">
                        {{rp.parentModule}} > {{rp.description}}
                        </div>
                      </div>

                      <div [id]="'collapse'+$index" class="collapse show" [attr.aria-labelledby]="'headingOne'+$index">
                        <div class="row">
                          @for(mp of rp.modulePermissions; track $index){
                          <div class="col-md-6">
                            <div class="form-group p-3 m-0">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <label class="checkbox checkbox-inline checkbox-primary">
                                      <input type="checkbox" [checked]="mp.isAssigned" (change)="selectPermission(mp, $event)">
                                      <span></span>
                                    </label>
                                  </span>
                                </div>
                                <input type="text" class="form-control disabled" [disabled]="true" [value]="mp.description">
                              </div>
                            </div>
                          </div>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                  }

                </div>
              </div>
            </div>



          </div>


        </div>


      </div>

      <div class="row mt-3">
        <div class="col-12 text-right">
          <button type="button" class="btn btn-light-danger font-weight-bold button-spacing mr-3" (click)="goBack()">
            {{ "language.generic.back" | translate }}
          </button>
          <button type="submit" class="btn btn-primary font-weight-bold me-3">
            {{ "language.generic.submit" | translate }}
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
