<div class="d-flex flex-column-fluid px-3">
  <div class="card card-custom w-100 p-5" >


  <form [formGroup]="addEditForm" class="form w-100" id="kt_form_1" (ngSubmit)="submitForm()">

<div class="row">
  <div class="col-md-12 mb-3">
    <label class="form-label">{{ "language.form.assetTypeId" | translate }}
      <span class="text-danger">*</span></label>
    <select class="form-control custom-select" (change)="getEmpAssTypes()" formControlName="assetTypeId" [ngClass]="{
        'is-invalid':
          addEditForm.get('assetTypeId')?.invalid &&
          (addEditForm.get('assetTypeId')?.touched || isSubmitted)
      }">
   @for(item of typesList; track item) {
    <option [value]="item.assetTypeId">{{ item.name }}</option>
    }
    </select>
    <div *ngIf="
        addEditForm.get('assetTypeId')?.invalid &&
        (addEditForm.get('assetTypeId')?.touched || isSubmitted)
      " class="invalid-feedback">
      {{ "language.errors.assetTypeIdRequired" | translate }}
    </div>
  </div>
</div>

      <div class="row">



          <div class="col-md-6 mb-3">
            <label class="form-label">{{ "language.form.issuedDate" | translate }}
              <span class="text-danger">*</span></label>
            <dp-date-picker class="form-control" formControlName="issuedDate" placeholder="00/00/00"
              [config]="datePickerConfig" theme="dp-material" (change)="onDateTimeChange($event,'issuedDate')" [ngClass]="{
                'is-invalid':
                  addEditForm.get('issuedDate')?.invalid &&
                  (addEditForm.get('issuedDate')?.touched || isSubmitted)
              }"></dp-date-picker>
            <div *ngIf="
                addEditForm.get('issuedDate')?.invalid &&
                (addEditForm.get('issuedDate')?.touched || isSubmitted)
              " class="invalid-feedback">
              {{ "language.errors.issuedDateRequired" | translate }}
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label class="form-label">{{ "language.generic.asset" | translate }}
              <span class="text-danger">*</span></label>
            @if(empAssTypesList?.length > 0){<select class="form-control custom-select" formControlName="assetId"  [ngClass]="{
                'is-invalid':
                  addEditForm.get('assetId')?.invalid &&
                  (addEditForm.get('assetId')?.touched || isSubmitted)
              }">
            @for(item of empAssTypesList; track item) {
            <option [value]="item.assetId">{{ item.assetName }}</option>
            }
            </select>}


            @if(empAssTypesList?.length < 1){
              <div >
                <input
                  type="text"
                  class="form-control"
                  readonly disabled>
              </div>
            }

            <div *ngIf="
                addEditForm.get('assetId')?.invalid &&
                (addEditForm.get('assetId')?.touched || isSubmitted)
              " class="invalid-feedback">
              {{ "language.errors.assetRequired" | translate }}
            </div>
          </div>



      </div>

      <div class="row">

        <div class="col-md-12 mb-3">
          <label class="form-label">{{'language.form.description' | translate}} <span class="text-danger">*</span></label>
          <textarea class="form-control" formControlName="description"
              [placeholder]="'language.placeholders.description' | translate"
              [ngClass]="{'is-invalid': (addEditForm.get('description')?.invalid && (addEditForm.get('description')?.touched || isSubmitted))}"></textarea>
          <div *ngIf="addEditForm.get('description')?.invalid && (addEditForm.get('description')?.touched || isSubmitted)"
              class="invalid-feedback">
              {{'language.errors.descriptionRequired' | translate}}
          </div>
      </div>
      </div>

    <div class="row mt-3">
          <div class="col-12 text-right">
              <button type="button" class="btn btn-light-danger font-weight-bold button-spacing mr-3" (click)="goBack()">
                  {{ 'language.generic.back'| translate }}
              </button>
              <button type="submit" class="btn btn-primary font-weight-bold me-3">
                  {{ 'language.generic.submit'| translate }}
              </button>
          </div>
      </div>
  </form>
</div>
</div>
