<div class="container-xxl container-p-y">
  <div class="misc-wrapper">
    <h2 class="mb-2 mx-2">{{ 'language.notFound.not' |
      translate }}</h2>
    <p class="mb-4 mx-2">{{ 'language.notFound.msg' |
      translate }}</p>
    <a href="index.html" class="btn btn-primary">{{ 'language.notFound.backToHome' |
      translate }} </a>
    <div class="mt-3">
      <img src="./assets/img/illustrations/page-misc-error-light.png" alt="page-misc-error-light" width="500"
        class="img-fluid" data-app-dark-img="illustrations/page-misc-error-dark.png"
        data-app-light-img="illustrations/page-misc-error-light.png" />
    </div>
  </div>
</div>