<form [formGroup]="addEditForm" class="form w-100  " id="kt_form_1" (ngSubmit)="submitForm()" style="position: relative;">

  @if(isView || !this.isEdit){<div style="position: absolute; inset: 0; z-index: 2;" ></div>}

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">{{ "language.form.firstName" | translate }}
        <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="firstName" [readOnly]="isView || !this.isEdit"
        [placeholder]="'language.placeholders.firstName' | translate" [ngClass]="{
            'is-invalid':
              !this.isView &&
              addEditForm.get('firstName')?.invalid &&
              (addEditForm.get('firstName')?.touched || isSubmitted)
          }" />
      <div *ngIf="
            !this.isView &&
            addEditForm.get('firstName')?.invalid &&
            (addEditForm.get('firstName')?.touched || isSubmitted)
          " class="invalid-feedback">
        {{ "language.errors.firstNameRequired" | translate }}
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">{{ "language.form.lastName" | translate }}
        <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="lastName" [readOnly]="isView || !this.isEdit"
        [placeholder]="'language.placeholders.lastName' | translate" [ngClass]="{
            'is-invalid':
              !this.isView &&
              addEditForm.get('lastName')?.invalid &&
              (addEditForm.get('lastName')?.touched || isSubmitted)
          }" />
      <div *ngIf="
            !this.isView &&
            addEditForm.get('lastName')?.invalid &&
            (addEditForm.get('lastName')?.touched || isSubmitted)
          " class="invalid-feedback">
        {{ "language.errors.lastNameRequired" | translate }}
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">{{ "language.form.email" | translate }}
        <span class="text-danger">*</span></label>
      <input type="email" class="form-control" formControlName="email" [readOnly]="isView || !this.isEdit"
        [placeholder]="'language.placeholders.email' | translate" [ngClass]="{
            'is-invalid':
              !this.isView &&
              addEditForm.get('email')?.invalid &&
              (addEditForm.get('email')?.touched || isSubmitted)
          }" />
      <div *ngIf="
            !this.isView &&
            addEditForm.get('email')?.invalid &&
            (addEditForm.get('email')?.touched || isSubmitted)
          " class="invalid-feedback">
        {{ "language.errors.emailRequired" | translate }}
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">{{ "language.form.city" | translate }}
        <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="city" [readOnly]="isView || !this.isEdit"
        [placeholder]="'language.placeholders.city' | translate" [ngClass]="{
            'is-invalid':
              !this.isView &&
              addEditForm.get('city')?.invalid &&
              (addEditForm.get('city')?.touched || isSubmitted)
          }" />
      <div *ngIf="
            !this.isView &&
            addEditForm.get('city')?.invalid &&
            (addEditForm.get('city')?.touched || isSubmitted)
          " class="invalid-feedback">
        {{ "language.errors.cityRequired" | translate }}
      </div>
    </div>



    <div class="col-md-6 mb-3 d-flex flex-column position-relative">
      <label class="form-label">
        {{ 'language.form.phoneNumber' | translate }}
        <span class="text-danger">*</span>
      </label>

      <ngx-intl-tel-input
      [disabled]="isView || !this.isEdit"
      style="display: grid;"
      [preferredCountries]="preferredCountries"
      [enableAutoCountrySelect]="true"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [searchCountryField]="[
        SearchCountryField.Iso2,
        SearchCountryField.Name
      ]"
      [selectFirstCountry]="false"
      [selectedCountryISO]="CountryISO.Pakistan"
      [maxLength]="15"
      [phoneValidation]="true"
      [separateDialCode]="separateDialCode"
      [numberFormat]="PhoneNumberFormat.International"
      [cssClass]="(addEditForm.get('phoneNumber')?.invalid &&
      (addEditForm.get('phoneNumber')?.touched || isSubmitted))
      ? 'is-invalid form-control'
      : (addEditForm.get('phoneNumber')?.valid &&
        addEditForm.get('phoneNumber')?.touched)
      ? ' form-control'
      : 'form-control'"
      name="phoneNumber"
      formControlName="phoneNumber">
    </ngx-intl-tel-input>

      <!-- Validation Error Messages -->
      <div class="text-danger mt-1 " style="font-size: 10px;" *ngIf="(addEditForm.get('phoneNumber')?.invalid &&
      (addEditForm.get('phoneNumber')?.touched || isSubmitted))">
        <div *ngIf="addEditForm.get('phoneNumber')?.errors?.['required']">
          {{ 'language.errors.phoneNumberRequired' | translate }}
        </div>
        <div *ngIf="addEditForm.get('phoneNumber')?.errors?.['validatePhoneNumber']">
          {{ 'language.errors.invalidPhoneNumber' | translate }}
        </div>

      </div>

      @if(isView || !this.isEdit){<div class="w-100 h-100 " style="position: absolute; inset:0;" >

      </div>}
    </div>


    <div class="col-md-6 mb-3 position-relative">
      @if(isView || !this.isEdit){<div class="w-100 h-100 " style="position: absolute; inset:0; z-index: 99999999999999999;" >

      </div>}
      <label class="form-label">{{ "language.form.role" | translate }}
        <span class="text-danger">*</span></label>
        <ng-select
        [items]="rolesList"
        [clearable]="false"
        bindLabel="name"
        bindValue="roleId"
        formControlName="role"
        [searchable]="true"
        [ngClass]="{
          'is-invalid':
            addEditForm.get('role')?.invalid &&
            (addEditForm.get('role')?.touched || isSubmitted)
        }"
        placeholder="Select an option" >
      </ng-select>
      <div *ngIf="
          addEditForm.get('role')?.invalid &&
          (addEditForm.get('role')?.touched || isSubmitted)
        " class="invalid-feedback">
        {{ "language.errors.roleRequired" | translate }}
      </div>
    </div>

  </div>

  <div class="row">


    <div class="col-md-6 mb-3 position-relative" style="overflow: hidden;">
      @if(isView || !this.isEdit){<div class="w-100 h-100  " style="position: absolute; inset:0; z-index: 99999999;" >

      </div>}
      <label class="form-label">{{ "language.form.joiningDate" | translate }}
        <span class="text-danger">*</span></label>
      <dp-date-picker class="form-control" formControlName="joiningDate" placeholder="00/00/00" [disabled]="isView || !this.isEdit"
        [config]="datePickerConfig" theme="dp-material" (change)="onDateTimeChange($event,'joiningDate')" [ngClass]="{
          'is-invalid':
            addEditForm.get('joiningDate')?.invalid &&
            (addEditForm.get('joiningDate')?.touched || isSubmitted)
        }"></dp-date-picker>
      <div *ngIf="
          addEditForm.get('joiningDate')?.invalid &&
          (addEditForm.get('joiningDate')?.touched || isSubmitted)
        " class="invalid-feedback">
        {{ "language.errors.joiningDateRequired" | translate }}
      </div>
    </div>

    <div class="col-md-6 mb-3 position-relative">
      @if(isView || !this.isEdit){<div class="w-100 h-100 " style="position: absolute; inset:0;" >

      </div>}
      <label class="form-label">{{'language.form.cnic' | translate}} <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="cnic"
        [placeholder]="'language.placeholders.cnic' | translate"
        [ngClass]="{'is-invalid': (addEditForm.get('cnic')?.invalid && (addEditForm.get('cnic')?.touched || isSubmitted))}" />
      <div *ngIf="addEditForm.get('cnic')?.invalid && (addEditForm.get('cnic')?.touched || isSubmitted)"
        class="invalid-feedback">
        {{'language.errors.cnicRequired' | translate}}
      </div>
    </div>

  </div>


  <div class="row">

    <div class="col-md-6 mb-3 position-relative">
      @if(isView || !this.isEdit){<div class="w-100 h-100 " style="position: absolute; inset:0;" >

      </div>}
      <label class="form-label">{{ "language.form.joiningStatus" | translate }}
        <span class="text-danger">*</span></label>
      <select class="form-control custom-select" formControlName="joiningStatus" [ngClass]="{
    'is-invalid':
      addEditForm.get('joiningStatus')?.invalid &&
      (addEditForm.get('joiningStatus')?.touched || isSubmitted)
  }">
        <option selected [value]="true">
          Yes
        </option>
        <option [value]="false">
          No
        </option>

      </select>
      <div *ngIf="
    addEditForm.get('joiningStatus')?.invalid &&
    (addEditForm.get('joiningStatus')?.touched || isSubmitted)
  " class="invalid-feedback">
        {{ "language.errors.joiningStatusRequired" | translate }}
      </div>
    </div>

    <div class="col-md-6 mb-3 position-relative" style="overflow: hidden;">
      @if(isView || !this.isEdit){<div class="w-100 h-100  " style="position: absolute; inset:0; z-index: 99999999;" >

      </div>}
      <label class="form-label">{{ "language.form.dob" | translate }}
        <span class="text-danger">*</span></label>
      <dp-date-picker class="form-control" formControlName="dateOfBirth" placeholder="00/00/00"
        [config]="datePickerConfig" theme="dp-material" (change)="onDateTimeChange($event,'dateOfBirth')" [ngClass]="{
          'is-invalid':
            addEditForm.get('dateOfBirth')?.invalid &&
            (addEditForm.get('dateOfBirth')?.touched || isSubmitted)
        }"></dp-date-picker>
      <div *ngIf="
          addEditForm.get('dateOfBirth')?.invalid &&
          (addEditForm.get('dateOfBirth')?.touched || isSubmitted)
        " class="invalid-feedback">
        {{ "language.errors.dobRequired" | translate }}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 mb-3 position-relative">
      @if(isView || !this.isEdit){<div class="w-100 h-100 " style="position: absolute; inset:0; z-index: 99999999999999999;" >

      </div>}
      <label class="form-label">{{ "language.generic.selectCompany" | translate }}
        <span class="text-danger">*</span></label>
        <ng-select
        formControlName="companyId"
        [items]="companyList"
        [clearable]="false"
        bindLabel="name"
        bindValue="companyId"
        [searchable]="true"
        [ngClass]="{
          'is-invalid':
            addEditForm.get('companyId')?.invalid &&
            (addEditForm.get('companyId')?.touched || isSubmitted)
        }"
        placeholder="Select an option" >
      </ng-select>
      <div *ngIf="
          addEditForm.get('companyId')?.invalid &&
          (addEditForm.get('companyId')?.touched || isSubmitted)
        " class="invalid-feedback">
        {{ "language.errors.companyReq" | translate }}
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-12 mb-3 position-relative">

      <label class="form-label">{{ "language.form.address" | translate }}
        <span class="text-danger">*</span></label>
      <textarea class="form-control" formControlName="address"
        [placeholder]="'language.placeholders.address' | translate" rows="3" [ngClass]="{
          'is-invalid':
            addEditForm.get('address')?.invalid &&
            (addEditForm.get('address')?.touched || isSubmitted)
        }"></textarea>
      <div *ngIf="
          addEditForm.get('address')?.invalid &&
          (addEditForm.get('address')?.touched || isSubmitted)
        " class="invalid-feedback">
        {{ "language.errors.addressRequired" | translate }}
      </div>
    </div>

  </div>

  @if(isEdit){
  <div class="row mt-3 py-5">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-light-danger font-weight-bold button-spacing mr-3" (click)="goBack()">
        {{ "language.generic.back" | translate }}
      </button>
      <button type="submit" class="btn btn-primary font-weight-bold me-3" [disabled]="!this.addEditForm.valid">
        {{ "language.generic.submit" | translate }}
      </button>
    </div>
  </div>
  }
</form>
