<div class="d-flex flex-column-fluid px-3">
  <div class="card card-custom w-100 p-5">

    <!-- @if(userReporting.length > 1){<div class="" style="flex: 1; min-width: 200px;margin-bottom: 12px;">
      <label class="form-label">{{ "language.generic.user" | translate }}
        <span class="text-danger"></span>
      </label>
      <ng-select  [clearable]="false" [items]="userReporting" bindLabel="fullName" [(ngModel)]="id" bindValue="employeeId"
        [searchable]="true" placeholder="Select an option" (change)="onUserSelect($event?.value)">
      </ng-select>
    </div>} -->

    <form [formGroup]="addEditForm" class="form w-100" id="kt_form_1" (ngSubmit)="submitForm()">

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">{{'language.generic.amount' | translate}} <span
              class="text-danger"></span></label>
              <input type="number" class="form-control" formControlName="amount"
              (input)="onNumberInput($event,'amount')" [placeholder]="'language.form.amount' | translate" [ngClass]="{
                  'is-invalid':
                    addEditForm.get('amount')?.invalid &&
                    (addEditForm.get('amount')?.touched || isSubmitted)
                }" />
          <div
            *ngIf="addEditForm.get('amount')?.invalid && (addEditForm.get('amount')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.amountRequired' | translate}}
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label">{{'language.generic.noOfInstallments' | translate}} <span
              class="text-danger"></span></label>
              <input type="number" class="form-control" formControlName="noOfInstallments"
              (input)="onNumberInput($event,'noOfInstallments')" [placeholder]="'language.generic.noOfInstallments' | translate" [ngClass]="{
                  'is-invalid':
                    addEditForm.get('noOfInstallments')?.invalid &&
                    (addEditForm.get('noOfInstallments')?.touched || isSubmitted)
                }" />
          <div
            *ngIf="addEditForm.get('noOfInstallments')?.invalid && (addEditForm.get('noOfInstallments')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.noOfInstallmentsRequired' | translate}}
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="form-label">{{'language.generic.loanReason' | translate}} <span
              class="text-danger">*</span></label>
          <textarea class="form-control" formControlName="loanReason"
            [placeholder]="'language.generic.loanReason' | translate" rows="3"
            [ngClass]="{'is-invalid': (addEditForm.get('loanReason')?.invalid && (addEditForm.get('loanReason')?.touched || isSubmitted))}"></textarea>
          <div
            *ngIf="addEditForm.get('loanReason')?.invalid && (addEditForm.get('loanReason')?.touched || isSubmitted)"
            class="invalid-feedback">
            {{'language.errors.loanReasonRequired' | translate}}
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-right">
          <button type="button" class="btn btn-light-danger font-weight-bold button-spacing mr-3" (click)="goBack()">
            {{ 'language.generic.back'| translate }}
          </button>
          <button type="submit" class="btn btn-primary font-weight-bold me-3" [disabled]="!this.addEditForm.valid">
            {{ 'language.generic.submit'| translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
