<div style="min-height: 100vh;" class="login login-4 wizard d-flex flex-column flex-lg-row flex-column-fluid wizard" id="kt_login">
  <!--begin::Content-->
  <div class="login-container d-flex flex-center flex-row flex-row-fluid order-2 order-lg-1 flex-row-fluid bg-white py-lg-0 pb-lg-0 pt-15 pb-12">
    <!--begin::Container-->
    <div class="login-content login-content-signup d-flex flex-column">
      <!--begin::Aside Top-->
      <div class="d-flex flex-column-auto flex-column px-10">
        <!--begin::Aside header-->
        <a href="#" class="login-logo pb-lg-4 pb-10">
          <img src="assets/media/logos/logo-4.png" class="max-h-70px" alt="" />
        </a>
        <!--end::Aside header-->
        <!--begin: Wizard Nav-->
        <div class="wizard-nav pt-5 pt-lg-15 pb-10">
          <!--begin::Wizard Steps-->
          <div class="wizard-steps d-flex flex-column flex-sm-row">
            <!--begin::Wizard Step 1 Nav-->
            <div
              class="wizard-step flex-grow-1 flex-basis-0"
              data-wizard-type="step"
              [attr.data-wizard-state]="currentStep === 1 ? 'current' : (currentStep > 1 ? 'done' : '')">
              <div class="wizard-wrapper pr-7">
                <div class="wizard-icon">
                  <i class="wizard-check ki ki-check"></i>
                  <span class="wizard-number">1</span>
                </div>
                <div class="wizard-label">
                  <h3 class="wizard-title">Account</h3>
                  <div class="wizard-desc">Account details</div>
                </div>
              </div>
            </div>
            <!--end::Wizard Step 1 Nav-->

            <!--begin::Wizard Step 2 Nav-->
            <div
              class="wizard-step flex-grow-1 flex-basis-0"
              data-wizard-type="step"
              [attr.data-wizard-state]="currentStep === 2 ? 'current' : (currentStep > 2 ? 'done' : '')">
              <div class="wizard-wrapper pr-7">
                <div class="wizard-icon">
                  <i class="wizard-check ki ki-check"></i>
                  <span class="wizard-number">2</span>
                </div>
                <div class="wizard-label">
                  <h3 class="wizard-title">Address</h3>
                  <div class="wizard-desc">Residential address</div>
                </div>
              </div>
            </div>
            <!--end::Wizard Step 2 Nav-->

            <!--begin::Wizard Step 3 Nav-->
            <div
              class="wizard-step flex-grow-1 flex-basis-0"
              data-wizard-type="step"
              [attr.data-wizard-state]="currentStep === 3 ? 'current' : ''">
              <div class="wizard-wrapper">
                <div class="wizard-icon">
                  <i class="wizard-check ki ki-check"></i>
                  <span class="wizard-number">3</span>
                </div>
                <div class="wizard-label">
                  <h3 class="wizard-title">Complete</h3>
                  <div class="wizard-desc">Submit form</div>
                </div>
              </div>
            </div>
            <!--end::Wizard Step 3 Nav-->
          </div>
          <!--end::Wizard Steps-->
        </div>


        <!--end: Wizard Nav-->
      </div>
      <!--end::Aside Top-->
      <!--begin::Signin-->
      <div class="login-form">
        <!--begin::Form-->
        <form class="form px-10" novalidate id="kt_login_signup_form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <!--begin: Wizard Step 1-->
          <div *ngIf="currentStep === 1">
            <div class="pb-10 pb-lg-12">
              <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Create Account</h3>
              <div class="text-muted font-weight-bold font-size-h4">
                Already have an Account ?
                <a [routerLink]="['/']" class="text-primary font-weight-bolder">Sign In</a>
              </div>
            </div>

            <!-- First Name -->
            <div class="form-group">
              <label class="font-size-h6 font-weight-bolder text-dark">First Name</label>
              <input
                [ngClass]="{'is-invalid': signupForm.controls['fname'].touched && signupForm.controls['fname'].invalid}"
                type="text"
                class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                formControlName="fname"
                placeholder="First Name"
              />
              <div *ngIf="signupForm.controls['fname'].touched && signupForm.controls['fname'].invalid" class="error-message">
                First Name is required.
              </div>
            </div>

            <!-- Last Name -->
            <div class="form-group">
              <label class="font-size-h6 font-weight-bolder text-dark">Last Name</label>
              <input
                [ngClass]="{'is-invalid': signupForm.controls['lname'].touched && signupForm.controls['lname'].invalid}"
                type="text"
                class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                formControlName="lname"
                placeholder="Last Name"
              />
              <div *ngIf="signupForm.controls['lname'].touched && signupForm.controls['lname'].invalid" class="error-message">
                Last Name is required.
              </div>
            </div>
          </div>

          <!-- Step 2: Address Details -->
          <div *ngIf="currentStep === 2">
            <div class="pb-5">
              <h3 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Address Details</h3>
              <div class="text-muted font-weight-bold font-size-h4">Have a Different Address?</div>

              <!-- Address Line 1 -->
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Address Line 1</label>
                <input
                  [ngClass]="{'is-invalid': signupForm.controls['address1'].touched && signupForm.controls['address1'].invalid}"
                  type="text"
                  class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                  formControlName="address1"
                  placeholder="Address Line 1"
                />
                <div *ngIf="signupForm.controls['address1'].touched && signupForm.controls['address1'].invalid" class="error-message">
                  Address Line 1 is required.
                </div>
              </div>

              <!-- Address Line 2 -->
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Address Line 2</label>
                <input
                  type="text"
                  class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                  formControlName="address2"
                  placeholder="Address Line 2"
                />
              </div>

              <!-- State -->
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">State</label>
                <input
                  [ngClass]="{'is-invalid': signupForm.controls['state'].touched && signupForm.controls['state'].invalid}"
                  type="text"
                  class="form-control form-control-solid h-auto py-7 px-6 border-0 rounded-lg font-size-h6"
                  formControlName="state"
                  placeholder="State"
                />
                <div *ngIf="signupForm.controls['state'].touched && signupForm.controls['state'].invalid" class="error-message">
                  State is required.
                </div>
              </div>

              <!-- Country -->
              <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Country</label>
                <select
                  [ngClass]="{'is-invalid': signupForm.controls['country'].touched && signupForm.controls['country'].invalid}"
                  class="form-control form-control-solid h-auto py-7 px-5 border-0 rounded-lg font-size-h6"
                  formControlName="country"
                >
                  <option value="">Select</option>
                  <option value="AF">Afghanistan</option>
                  <!-- Add more countries -->
                </select>
                <div *ngIf="signupForm.controls['country'].touched && signupForm.controls['country'].invalid" class="error-message">
                  Country is required.
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="currentStep === 3">
            <h2>Step 3: Review and Submit</h2>
            <form [formGroup]="signupForm">
              <div>
                <strong>First Name:</strong> {{ signupForm.get('fname')?.value }}
              </div>
              <div>
                <strong>Last Name:</strong> {{ signupForm.get('lname')?.value }}
              </div>
              <div>
                <strong>Address 1:</strong> {{ signupForm.get('address1')?.value }}
              </div>
              <div>
                <strong>Address 2:</strong> {{ signupForm.get('address2')?.value }}
              </div>
              <div>
                <strong>State:</strong> {{ signupForm.get('state')?.value }}
              </div>
              <div>
                <strong>Country:</strong> {{ signupForm.get('country')?.value }}
              </div>
            </form>
          </div>


          <!-- Navigation Buttons -->
          <div class="d-flex justify-content-between pt-7">
            <button *ngIf="currentStep > 1" type="button" class="btn btn-light-primary" (click)="goToPreviousStep()">
              Previous
            </button>
            <button *ngIf="currentStep < 3" type="button" class="btn btn-primary" (click)="goToNextStep()" [disabled]="!canProceedToNextStep()">
              Next
            </button>
            <button *ngIf="currentStep === 3" type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">
              Submit
            </button>
          </div>
        </form>


        <!--end::Form-->
      </div>
      <!--end::Signin-->
    </div>
    <!--end::Container-->
  </div>
  <!--begin::Content-->
  <!--begin::Aside-->

  <!--end::Aside-->
</div>
