<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light"> {{ 'language.generic.dashboard' | translate }}
      /</span> {{this.isEdit? ('language.generic.edit' | translate) : ('language.generic.add' | translate)}}
    {{ 'language.configurations.location' | translate }}</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <hr class="my-0" />
        <div class="card-body">
          <form id="formAccountSettings" novalidate [formGroup]="locationForm" (ngSubmit)="submitForm()"
            #locationFormRef="ngForm" autocomplete="off">
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">{{ 'language.location.region' | translate }} <span
                    class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="region"
                  [ngClass]="(!this.locationForm.controls['region'].valid && locationFormRef?.submitted)?'invalid':''" />
                @if(locationForm.get('region')?.hasError('required') && locationFormRef?.submitted) {
                <div class="text-danger">{{ 'language.location.regionReq' | translate }}</div>
                }
              </div>

              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">{{ 'language.location.city' | translate }} <span
                    class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="city"
                  [ngClass]="(!this.locationForm.controls['city'].valid && locationFormRef?.submitted)?'invalid':''" />
                @if(locationForm.get('city')?.hasError('required') && locationFormRef?.submitted) {
                <div class="text-danger">{{ 'language.location.cityReq' | translate }}</div>
                }
              </div>

              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">{{
                  'language.location.area'
                  | translate }} <span class="text-danger">*</span></label>
                <input class="form-control" type="text" formControlName="area"
                  [ngClass]="(!this.locationForm.controls['area'].valid && locationFormRef?.submitted)?'invalid':''" />
                @if(locationForm.get('area')?.hasError('required') && locationFormRef?.submitted) {
                <div class="text-danger">{{
                  'language.location.areaReq'
                  | translate }}</div>
                }
              </div>

              <div class="mb-3 col-md-6">
                <label for="firstName" class="form-label">{{
                  'language.location.address'
                  | translate }}</label>
                <input class="form-control" type="text" formControlName="address" />
              </div>
            </div>
            <div class="mt-2 text-end">
              <button type="reset" class="btn btn-outline-secondary me-2" (click)="backToLocations()">{{
                'language.generic.cancel'
                | translate }}</button>
              <button type="submit" class="btn btn-primary">{{
                'language.invoice.saveChanges'
                | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>