<div class="container-modal">
    <h1 mat-dialog-title>{{createCompanyForm.value.Id != null ? 'Update Company' : 'Create Company'}}</h1>

    <mat-dialog-content class="mat-typography">
        <form [formGroup]="createCompanyForm">
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Name</label>
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Name" formControlName="name" />
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Details</label>
                <textarea class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Details" formControlName="details"></textarea>
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Address</label>
                <textarea class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Address" formControlName="address"></textarea>
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Type</label>
                <select class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Address" formControlName="address">
                    @for (type of types; track type) {
                    <option [value]="type.typeName">{{type.typeName}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Country</label>
                <select class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Country" formControlName="country">
                    @for (type of types; track type) {
                    <option [value]="type.typeName">{{type.typeName}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">TimeZone</label>
                <select class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="TimeZone" formControlName="timeZone">
                    @for (type of types; track type) {
                    <option [value]="type.typeName">{{type.typeName}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Parent Structure</label>
                <select class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Parent Structure" formControlName="parentStructure">
                    @for (type of types; track type) {
                    <option [value]="type.typeName">{{type.typeName}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark">Head</label>
                <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg border-0" type="text"
                    placeholder="Head" formControlName="head" />
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button [mat-dialog-close]="false" class="btn btn pull-right btn-danger">
            Cancel</button>

        <button (click)="createCompanyForm.value.Id != null ? onUpdate() : onSubmit()" cdkFocusInitial
            class="btn btn pull-right btn-success">
            {{createCompanyForm.value.Id != null ? 'Update' : 'Create'}}</button>
    </mat-dialog-actions>
</div>