
<div class="card card-custom d-flex align-items-center justify-content-center" style="min-height:100dvh;" >
  <div class="container-xxl ">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">

        <a href="https://cybersoftvantage.com/" class="login-logo pb-lg-4 pb-10 d-flex align-items-center justify-content-center gap-2">
          <img
            onerror="this.onerror=null; this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyKLQ_NDd81udMvX8pB7D97hkZxbjehU6WzA&s'"
            src="https://cybersoftvantage.com/logo.png" class="max-h-70px" alt="" />
          <h1 class="fw-bold">Cybersoft Vantage</h1>
        </a>

        <div class="card mx-auto" style="max-width: 600px;">
          <div class="card-body" >
            <div class="app-brand justify-content-center">

            </div>
            <h4 class="mb-2 text-center">Forgot Password ?</h4>
            <form class="mb-3" novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()"
              #forgotPasswordFormRef="ngForm" autocomplete="off">


              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control"
                [ngClass]="{'is-invalid': (forgotPasswordForm.get('email')?.invalid && (forgotPasswordFormRef?.submitted || forgotPasswordForm.get('email')?.touched))}"
                  placeholder="Enter your email" formControlName="email" name="email" />
                @if(forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordFormRef?.submitted) {
                <div class="text-danger">Email is required</div>
                }

                @if(forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordFormRef?.submitted) {
                <div class="text-danger">
                  Email is invalid.
                </div>
                }
              </div>

              <div class="mb-3">
                <button class="btn btn-primary d-grid w-100" type="submit">Send Email</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

