<div class="d-flex flex-column-fluid px-3">

  <div class="card card-custom mx-auto w-100">



    <div class="d-flex justify-content-between  align-items-center pt-4 px-5">

      <form class="d-flex  mt-2   w-25-md" role="search">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" [placeholder]="'language.placeholders.searchByName' | translate"
              name="searchTerm" (input)="search($event)">
          </div>
        </div>
      </form>

      @if(isCreate){<button routerLink="/leave/leave/add" [queryParams]="{id:this.empId}" class="btn btn-primary">
        {{ 'language.generic.applyLeave' | translate }}
      </button>}
    </div>

    <div class="d-flex align-items-center justify-content-between p-5 flex-wrap" style="gap: 8px; overflow: hidden;">
      <div class="" style="flex: 1; min-width: 200px;">
        <label class="form-label">{{ "language.generic.user" | translate }}
          <span class="text-danger"></span></label>
        <select [(ngModel)]="selectedEmpId" (change)="onUserSelect($event)" class="form-control custom-select">
          <option [value]="this.empId">
            {{ "language.generic.selectUser" | translate }}
          </option>
          @for (item of userReporting; track $index) {
          <option [value]="item.employeeId">{{item.fullName}}</option>
          }
        </select>
      </div>


      <div class="" style="flex: 1; min-width: 200px;">
        <label class="form-label">{{ "language.generic.selectFilter" | translate }}
          <span class="text-danger"></span></label>
        <select class="form-control custom-select" data-col-index="2" (change)="setFilter(selectFilter.value)"
          #selectFilter>
          <option value="" disabled selected>Select a filter</option>
          <option value="MTD" title="Filter data from the start of the current month to today" selected>Month to Date
            (MTD)</option>
          <option value="YTD" title="Filter data from the start of the current year to today">Year to Date (YTD)
          </option>
          <option value="QTD" title="Filter data from the start of the current quarter to today">Quarter to Date (QTD)
          </option>
          <option value="PreviousYear" title="Filter data for the entire previous year">Previous Year</option>
          <option value="PreviousMonth" title="Filter data for the entire previous month">Previous Month</option>
          <option value="Last7Days" title="Filter data for the last 7 days">Last 7 Days</option>
        </select>
      </div>

      <div class="" style="flex: 1;">
        <label class="form-label">{{ 'language.generic.startDate' | translate }}</label>
        <dp-date-picker class="form-control" placeholder="00/00/00" [(ngModel)]="startDate" [config]="datePickerConfig"
          theme="dp-material" (change)="onStartDateChange($event)"></dp-date-picker>
      </div>

      <div class="" style="flex: 1;">
        <label class="form-label">{{ 'language.generic.endDate' | translate }}</label>
        <dp-date-picker class="form-control" placeholder="00/00/00" [(ngModel)]="endDate.split('T')[0]"
          [config]="datePickerConfig" theme="dp-material" (change)="onEndDateChange($event)"></dp-date-picker>
      </div>
      <div class="flex-column d-flex">
        <label class="form-label" style="opacity: 0;">{{ 'language.generic.endDate' | translate }}</label>
        <button class="btn btn-secondary " (click)="applyDateFilter()">
          {{ 'language.generic.applyFilter' | translate }} <i class="fa fa-search ml-2" style="color: gray;"
            aria-hidden="true"></i>
        </button>

      </div>

    </div>

    <!--begin::Body-->
    <div class="card-body" style="overflow-x: auto">
      <!--begin: Datatable-->
      <div>
        <table class="table table-striped w-100">
          <thead class="datatable-head">
            <tr class="datatable-row" style="left: 0px">
              <th data-field="RecordID"
                class="datatable-cell-left datatable-cell datatable-cell-sort datatable-cell-sorted" data-sort="asc">
                <span># </span>
              </th>

              <th data-field="OrderID">
                <span>
                  {{ "language.generic.empName" | translate }}
                </span>
              </th>

              <th data-field="OrderID">
                <span>
                  {{ "language.generic.date" | translate }}
                </span>
              </th>



              <th data-field="OrderID">
                <span>
                  {{ "language.form.leaveReason" | translate }}
                </span>
              </th>



              <th data-field="OrderID">
                <span>
                  {{ "language.form.status" | translate }}
                </span>
              </th>


              @if(isDelete || isEdit || isApproval){<th>
                <span style="width: 124px">
                  {{ "language.generic.actions" | translate }}
                </span>
              </th>}
            </tr>
          </thead>

          <tbody class="datatable-body">
            @for (data of dataList; track $index) {
            <tr data-row="0" class="datatable-row" style="left: 0px">
              <td class="datatable-cell-sorted datatable-cell-left datatable-cell" data-field="RecordID" aria-label="1">
                <span><span class="font-weight-bolder">
                    {{ (pageNo - 1) * pageSize + $index + 1 }}
                  </span></span>
              </td>

              <td data-field="OrderID" aria-label="64616-103" class="datatable-cell">
                <span>
                  <div class="d-flex align-items-center">
                    <div class="text-dark-75   font-size-lg mb-0"
                      [innerHTML]="data.firstName + ' ' + data.lastName || 'N/A' | highlight: searchTerm">
                    </div>
                  </div>
                </span>
              </td>

              <td data-field="OrderID" aria-label="64616-103" class="datatable-cell">
                <span>
                  <div class="d-flex align-items-center">
                    <div class="text-dark-75   font-size-lg mb-0">
                      {{(data.leaveDate | convertTime: 'date' ) || 'N/A'}}
                    </div>
                  </div>
                </span>
              </td>


              <td data-field="OrderID" aria-label="64616-103" class="datatable-cell">
                <span>
                  <div class="d-flex align-items-center">
                    <div class="text-dark-75   font-size-lg mb-0">
                      {{data.leaveReason || 'N/A'}}
                    </div>
                  </div>
                </span>
              </td>


              <td data-field="OrderID" aria-label="64616-103" class="datatable-cell">
                <span>
                  <div class="d-flex align-items-center">
                    <div class="text-dark-75   font-size-lg mb-0">
                      <div>
                        <span [ngClass]="{
                                              'label-warning': data.leaveStatus === 0,
                                              'label-success': data.leaveStatus === 1,
                                              'label-danger': data.leaveStatus === 2
                                            }" class="label label-lg  label-inline mr-2"> {{
                          getLeaveStatusText(data.leaveStatus) }}</span>

                      </div>


                    </div>
                  </div>
                </span>
              </td>

              <td>

                <div class="btn-group">
                  <button class="btn btn-light-primary font-weight-bold btn-sm dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{'language.generic.actions' | translate}}
                  </button>
                  <ul class="dropdown-menu px-2 ">

                    @if(this.isEdit && data.leaveStatus == 0 ){
                    <li class="w-100 mb-2">
                      <a [routerLink]="['/leave/leave/edit']"
                        class="btn btn-sm btn-default btn-text-primary btn-hover-primary btn-icon w-100 text-center"
                        title="Edit details">
                        {{'language.generic.edit' | translate}}
                      </a>
                    </li>
                    }

                    @if(data.leaveStatus == 0 ){
                    <li class="w-100 mb-2">
                      <a (click)="setStatus(1)" data-bs-toggle="modal" [attr.data-bs-target]="'#statusModal-' + $index"
                        class="btn btn-sm btn-default btn-text-success btn-hover-success btn-icon w-100 text-center"
                        title="Edit details">
                        {{'language.generic.approve' | translate}}
                      </a>
                    </li> }


                    @if(isDelete && data.leaveStatus != 0){
                    <li class="w-100 mb-2">
                      <a data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + $index"
                        class="btn btn-sm btn-default btn-text-danger btn-hover-danger btn-icon w-100 text-center"
                        title="Edit details">
                        {{'language.generic.delete' | translate}}
                      </a>
                    </li> }

                    @if(data.leaveStatus == 0 ){
                    <li class="w-100 mb-2">
                      <a (click)="setStatus(2)" data-bs-toggle="modal" [attr.data-bs-target]="'#statusModal-' + $index"
                        class="btn btn-sm btn-default btn-text-danger btn-hover-danger btn-icon w-100 text-center"
                        title="Edit details">
                        {{'language.generic.reject' | translate}}
                      </a>
                    </li> }

                    @if (data.leaveStatus != 0) {<li class="w-100 mb-2">
                      <a data-bs-toggle="modal" [attr.data-bs-target]="'#leaveModal-' + $index"
                        class="btn btn-sm btn-default btn-text-warning btn-hover-warning btn-icon w-100 text-center"
                        title="Edit details">
                        {{'language.generic.view' | translate}}
                      </a>
                    </li>}
                  </ul>
                </div>




                <!-- Modal -->
                <div class="modal fade" [id]="'modal-' + $index" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          {{'language.msg.areYouAbsolutely' | translate}}
                        </h1>
                        <button type="button" class="btn-close border-0" data-bs-dismiss="modal"
                          aria-label="Close">x</button>
                      </div>
                      <div class="modal-body">
                        {{'language.msg.actionCannotBeUndone' | translate}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          {{'language.generic.cancel' | translate}}</button>
                        <button type="button" (click)="onDelete(data.leaveId)" data-bs-dismiss="modal"
                          class="btn btn-danger">{{'language.generic.continue' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>

                @if (data.leaveStatus == 0) {
                <!-- Modal -->
                <div class="modal fade" [id]="'statusModal-' + $index" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          {{'language.msg.areYouAbsolutely' | translate}}
                        </h1>
                        <button type="button" class="btn-close border-0" data-bs-dismiss="modal"
                          aria-label="Close">x</button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <form [formGroup]="submitForm" class="col-md-12 mb-3">
                            <label class="form-label">{{ "language.form.comment" | translate }}
                              <span class="text-danger">*</span></label>
                            <textarea class="form-control" formControlName="comment"
                              [placeholder]="'language.placeholders.comment' | translate" [ngClass]="{
                                'is-invalid':
                                  submitForm.get('comment')?.invalid &&
                                  (submitForm.get('comment')?.touched || isSubmitted)
                              }"></textarea>
                            <div *ngIf="
                                submitForm.get('comment')?.invalid &&
                                (submitForm.get('comment')?.touched || isSubmitted)
                              " class="invalid-feedback">
                              {{ "language.errors.commentRequired" | translate }}
                            </div>
                          </form>
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          {{'language.generic.cancel' | translate}}</button>


                        <button type="button" (click)="onSubmit(data.leaveId)" data-bs-dismiss="modal"
                          class="btn btn-primary">{{'language.generic.continue' | translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>

                }
                @if (data.leaveStatus != 0) {
                <!-- Modal -->
                <div class="modal fade" [id]="'leaveModal-' + $index" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="btn-close border-0" data-bs-dismiss="modal"
                          aria-label="Close">x</button>
                      </div>
                      <div class="modal-body">
                        <div class="row">


                          <div class="d-flex w-100 mb-2" style="gap: 4px;">
                            <b>{{'language.generic.approvedDate' | translate}}:</b> {{data.approvedDate | convertTime:
                            'date' }}
                          </div>

                          <div class="d-flex w-100 mb-2" style="gap: 4px;">
                            <b>{{'language.generic.approvedBy' | translate}}:</b> {{data.approvedBy}}
                          </div>

                          <div class="d-flex w-100 mb-2" style="gap: 4px;">
                            <b>{{'language.generic.comment' | translate}}:</b> {{data.approvedComment}}
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                }

              </td>
            </tr>
            } @if(this.dataList.length < 1){ <tr>
              <td colspan="10" class="text-center py-4">{{'language.generic.noRecords' | translate}}</td>
              </tr>
              }
          </tbody>
        </table>

        <!--begin::Pagination-->
        @if(this.dataList.length > 0){<div class="d-flex justify-content-between align-items-center flex-wrap">
          <div class="d-flex flex-wrap py-2 mr-3">
            <a class="btn btn-icon btn-sm btn-light mr-2 my-1" (click)="changePage(1)" [class.disabled]="pageNo === 1">
              <i class="ki ki-bold-double-arrow-back icon-xs"></i>
            </a>

            <a class="btn btn-icon btn-sm btn-light mr-2 my-1" (click)="changePage(pageNo - 1)"
              [class.disabled]="pageNo === 1">
              <i class="ki ki-bold-arrow-back icon-xs"></i>
            </a>

            <span *ngFor="let page of [].constructor(totalPages); let i = index" [hidden]="i > 4 && i < totalPages - 5">
              <a class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1" [class.active]="i + 1 === pageNo"
                (click)="changePage(i + 1)">
                {{ i + 1 }}
              </a>
            </span>

            <a class="btn btn-icon btn-sm btn-light mr-2 my-1" (click)="changePage(pageNo + 1)"
              [class.disabled]="pageNo === totalPages">
              <i class="ki ki-bold-arrow-next icon-xs"></i>
            </a>

            <a class="btn btn-icon btn-sm btn-light mr-2 my-1" (click)="changePage(totalPages)"
              [class.disabled]="pageNo === totalPages">
              <i class="ki ki-bold-double-arrow-next icon-xs"></i>
            </a>
          </div>

          <div class="d-flex align-items-center py-3">
            <select class="form-control form-control-sm font-weight-bold mr-4 border-0 bg-light" style="width: 75px;"
              [(ngModel)]="pageSize" (change)="changePageSize(pageSize)">
              <option *ngFor="let size of [10, 20, 30, 50, 100]" [value]="size">{{ size }}</option>
            </select>

            <span class="text-muted">
              {{'language.generic.totalRecords' | translate}} {{ totalCount }}
            </span>
          </div>

        </div>}

        <!--end:: Pagination-->
      </div>
      <!--end: Datatable-->
    </div>
    <!--end::Body-->
  </div>

</div>
