<div class="container card card-custom p-5 ">
  <div class="card-header flex-wrap border-0 pt-6 pb-0 px-0">
    <div class="card-title">
      <h3 class="card-label">
        Work Histroy
      </h3>
    </div>
  </div>


  <form novalidate [formGroup]="expenseMainForm" #form="ngForm" #expenseMainFormRef="ngForm" autocomplete="off">
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Attachment Type</th>
              <th>Position</th>
              <th>Organization</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Upload Attachment</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <ng-container formArrayName="expenseAllItem">
              @for(expenseItemForm of expenseAllItem.controls; track $index) {
              <tr [formGroupName]="$index">
                <td>
                  <label for="">{{$index + 1}}</label>
                </td>

                <td>
                  <div class="mb-1">
                    <select class="form-control" name="attachmentTypeId" formControlName="attachmentTypeId">
                      <option *ngFor="let type of attachmentTypes" [value]="type.attachmentTypeId">{{ type.name }}
                      </option>
                    </select>
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="text" name="positionTitle" formControlName="positionTitle" />
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="text" name="organization" formControlName="organization" />
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="datetime-local" name="startDate" formControlName="startDate"   />
                  </div>
                </td>

                <td>
                  <div class="mb-1">
                    <input class="form-control" type="datetime-local" name="endDate" formControlName="endDate"   />
                  </div>
                </td>

                <td align="center">
                  <button type="button" class="btn btn-icon btn-secondary me-2 btn-sm"
                    (click)="openUploadModal($index)">
                    <span
                      class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo1\dist/../src/media/svg/icons\Files\Export.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24" />
                          <path
                            d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z"
                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                          <rect fill="#000000" opacity="0.3"
                            transform="translate(12.000000, 8.000000) scale(1, -1) rotate(-180.000000) translate(-12.000000, -8.000000) "
                            x="11" y="2" width="2" height="12" rx="1" />
                          <path
                            d="M12,2.58578644 L14.2928932,0.292893219 C14.6834175,-0.0976310729 15.3165825,-0.0976310729 15.7071068,0.292893219 C16.0976311,0.683417511 16.0976311,1.31658249 15.7071068,1.70710678 L12.7071068,4.70710678 C12.3165825,5.09763107 11.6834175,5.09763107 11.2928932,4.70710678 L8.29289322,1.70710678 C7.90236893,1.31658249 7.90236893,0.683417511 8.29289322,0.292893219 C8.68341751,-0.0976310729 9.31658249,-0.0976310729 9.70710678,0.292893219 L12,2.58578644 Z"
                            fill="#000000" fill-rule="nonzero"
                            transform="translate(12.000000, 2.500000) scale(1, -1) translate(-12.000000, -2.500000) " />
                        </g>
                      </svg><!--end::Svg Icon--></span>
                  </button>
                </td>

                <td>
                  @if($index !== 0) {
                  <button type="button" class="btn btn-icon btn-secondary me-2 btn-sm" (click)="deleteLesson($index)">
                    <span
                      class="svg-icon svg-icon-danger svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Trash.svg--><svg
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24" />
                          <path
                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                            fill="#000000" fill-rule="nonzero" />
                          <path
                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                            fill="#000000" opacity="0.3" />
                        </g>
                      </svg><!--end::Svg Icon--></span>
                  </button>
                  }
                </td>
              </tr>
              }
            </ng-container>

            <tr>
              <td colspan="5">
                <button class="btn btn-primary mt-1 mb-1" type="button" (click)="addWorkHistoryItem()">
                  Add More
                </button>
              </td>
              <td colspan="4" align="right">
                <button class="btn btn-success mt-1 mb-1" type="submit" (click)="onSubmit()">
                  Save
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </form>
</div>






 @if (!showAddingInput) {
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-1"><span class="text-muted fw-light">Expense /</span>
    {{
    this.isEdit && !isViewOnly ?'Edit':
    !this.isEdit && isViewOnly ?'View':'Add'}}

    Expense
  </h4>
  <div class="text-end mb-3">
    @if(!this.isEdit && !isViewOnly) {
    <button type="button" class="btn btn-primary me-3" (click)="showAddingInput = true;resetForm()">
      <i class='bx bxs-plus-circle'></i>
      Add Expense
    </button>

    <button type="button" class="btn btn-success" (click)="onSubmit()">
      <i class='bx bxs-save'></i>
      Save Batch
    </button>
    }
  </div>
  <div class="card">
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>No.</th>
            <th>Attachment Type</th>
            <th>Position</th>
            <th>Organization</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Upload Attachment</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          @if(expenseItems.length > 0) {
          @for(item of expenseItems; track $index){
          <tr>
            <td>{{item?.receiptDate | date: 'mediumDate'}}</td>
            <td>{{item?.documentNumber}}</td>
            <td>{{item?.costCenter}}</td>
            <td>{{item?.remarks ==="null"?'':item?.remarks}}</td>
            <td>{{item?.totalBeforeVat}}</td>
            <td>{{item?.vat}}</td>
            <td>{{item?.totalWithVat}}</td>
            <td>{{item?.attachments?.length || item?.expenseMediaInformation?.length}}</td>
            @if (this.isEdit || isViewOnly) {
            <td>
              @if(this.isEdit && !isViewOnly) {
              @if(!isUserRole) {
              @if(item.status === 2 ) {
              <span class="badge bg-label-success me-1">Accepted</span>
              }
              @if(item.status !== 2 ) {
              <select class="select2 form-select" [ngModel]="item.status"
                (change)="changeStatus($event, item?.expenseSubDetailId)">
                <option value="1">{{ 'language.status.pending' | translate }}</option>
                <option value="2">{{ 'language.status.accepted' | translate }}</option>
                <option value="3">{{ 'language.status.rejected' | translate }}</option>
              </select>
              }

              }


              }

            </td>
            }

          </tr>
          }
          }
          @if(expenseItems.length === 0) {
          <tr>
            <td colspan="9" align="center">{{ 'language.generic.notFound' | translate }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
}

<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{ 'language.generic.delete' | translate }} {{
          'language.generic.confirmation' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <h5> {{ 'language.generic.delMsg' | translate }}</h5>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          {{ 'language.generic.close' | translate }}
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteExpense()">{{ 'language.generic.delete' | translate
          }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remarksModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Action Remarks</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          @if (this.remarksList.length > 0) {
          <div class="table-responsive text-nowrap">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ 'language.location.createdBy' | translate }}</th>
                  <th>{{ 'language.configurations.role' | translate }}</th>
                  <th>{{ 'language.generic.date' | translate }}</th>
                  <th [width]="50">{{ 'language.generic.remarks' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
                @if(remarksList.length > 0){
                @for(bank of remarksList ; track $index){
                <tr>
                  <td>
                    <span [innerHTML]="bank?.createdBy"></span>
                  </td>
                  <td>
                    @if (bank.role === 1) {
                    <span class="badge bg-label-warning me-1">{{ 'language.role.admin' | translate }}</span>
                    }

                    @if (bank.role === 2) {
                    <span class="badge bg-label-primary me-1">{{ 'language.role.manager' | translate }}</span>
                    }

                    @if (bank.role === 3) {
                    <span class="badge bg-label-secondary me-1">{{ 'language.role.operator' | translate }}</span>
                    }

                  </td>
                  <td>{{bank.createdDate | date: 'MMM d, y'}}</td>
                  <td [width]="30">
                    {{bank?.remarks}}
                  </td>
                </tr>
                }
                }
              </tbody>
            </table>
          </div>
          }
          @if (this.remarksList.length === 0) {
          <div class="mb-3 col-md-12">
            <label class="form-label">Remarks</label>
            <textarea class="form-control" [(ngModel)]="this.changeStatusObj.remarks"></textarea>
          </div>
          }

        </div>
      </div>
      @if (this.remarksList.length === 0) {
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          {{ 'language.generic.close' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="saveRemarks()">{{ 'language.generic.save' |
          translate }}</button>
      </div>
      }

    </div>
  </div>
</div>

<div class="modal fade" id="uploadAttachmentModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1"> {{ 'language.generic.upload' | translate }} {{
          'language.generic.files' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="mb-1">
            <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedFiles($event)" [useDragEnter]="true"
              [multiple]="false">
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <div class="text-center dragfiles" role="button" (click)="openFileSelector()">
                  <i class='bx bxs-cloud-upload fs-xlarge'></i>
                  <div class="d-flex flex-column">
                    <span class="fs-14 text-gray-300 fw-500">{{ 'language.generic.dragandDrop' | translate }}</span>
                    <span class="fs-20 text-dark fw-500"> {{ 'language.generic.upload' | translate }}</span>
                  </div>
                </div>
              </ng-template>
            </ngx-file-drop>
          </div>
          @if(this.attachedFile) {

            <div class="mb-3 col-md-12">
              <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>File Name</th>
                    </tr>
                  </thead>
                  <tbody class="table-border-bottom-0">
                    <tr>
                      <td width="95%">
                        <span class="underline" (click)="getSelectedFile()">{{attachedFile.name || attachedFile.fileName}}</span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          }

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          {{ 'language.generic.close' |
          translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="saveItemAttachment()">{{ 'language.generic.save' |
          translate }}</button>
      </div>
    </div>
  </div>
</div>
